In [10]:
import numpy as np
from pandas import read_csv

data = read_csv('../R/mad_sample.csv')z
data.columns = data.columns.str.replace(".", "_")
data[:3]

   X_1  X_2  X_3  X_4  X_5  X_6  X_7  X_8  X_9  X_10  Y
0  485  477  537  479  452  471  491  476  475   473  0
1  483  458  460  487  587  475  526  479  485   469  0
2  487  542  499  468  448  471  442  478  480   477  0