The code from `march1.ipynb` is modified in one overarching respect: The input csv-file contains both descrete and continous features (X columns). The indeces of the descrete columns (as well as name of the file) are hardcoded below but they are of course meant to become user-provided arguments. The output is a dictionary, where the keys are products of dimensions of contingency_matrices encountered in the computation, and values are again dictionaries similar to the one used before as a whole output i.e. maps from column-indeces to maximal information gains (and corresponding tuples).

In order to produce an input file, every `n`th column of `madelon.csv` will be discretized. Details of the way the partially-discretized csv is generated is fairly obvious form the code below. The resulting file is saved as a new file `madelon_n.csv` and the orginal `madelon.csv` is not used anymore.

---
Reminder:
* Swap error handling in `matrix.h` for assertions.

---
The `cpp` code

In [3]:
%%writefile wrap_discretize.cpp
/*
<%
cfg['compiler_args'] = ['-std=c++11', '-fopenmp']
cfg['linker_args'] = ['-fopenmp']
setup_pybind11(cfg)
%>
*/

#include <algorithm>
#include <cstdint>
#include <cstring>
#include <random>
#include <vector>
#include <pybind11/pybind11.h>
//#include <pybind11/stl.h>
#include <pybind11/numpy.h>

namespace py = pybind11;
using namespace pybind11::literals;

void discretize(
    uint32_t seed,
    uint32_t discretization_index,
    uint32_t feature_id,
    std::size_t divisions,
    std::size_t object_count,
    py::array_t<double> py_in_data,
    py::array_t<double> py_sorted_in_data,
    py::array_t<uint8_t> py_out_data,
    double range_
) {
    
    // the python part
    py::buffer_info py_in_data_buf = py_in_data.request();
    auto *in_data = static_cast<const double *>(py_in_data_buf.ptr);    
    
    py::buffer_info py_sorted_in_data_buf = py_sorted_in_data.request();
    auto *sorted_in_data = static_cast<const double *>(py_sorted_in_data_buf.ptr);
    
    py::buffer_info py_out_data_buf = py_out_data.request();
    auto *out_data = static_cast<uint8_t *>(py_out_data_buf.ptr);
    
    // end of the python part
    
    double* thresholds = new double[divisions];

    // brackets to limit scope
    {
        double sum = 0.0f;
        // brackets to limit scope
        {
            std::mt19937 seed_random_generator0(seed);
            std::mt19937 seed_random_generator1(seed_random_generator0() ^ discretization_index);
            std::mt19937 random_generator(seed_random_generator1() ^ feature_id);

            // E(X) = (a + b) / 2 = (1 - range + 1 + range) / 2 = 1
            std::uniform_real_distribution<double> uniform_range(1.0f - range_, 1.0f + range_);

            for (std::size_t d = 0; d < divisions; ++d) {
                thresholds[d] = uniform_range(random_generator);
                sum += thresholds[d];
            }

            sum += uniform_range(random_generator);
        }

        std::size_t done = 0;
        const double length_step = static_cast<double>(object_count) / sum;

        // thresholds are converted from an arbitrary space into real values (via indices)
        // d - iterates over divisions (of a variable in a discretization)
        for (std::size_t d = 0; d < divisions; ++d) {
            done += std::lround(thresholds[d] * length_step);

            // Note: Check when will this happen, maybe could be skipped
            if (done >= object_count) {
                done = object_count - 1;
            }

            thresholds[d] = sorted_in_data[done];
        }
    }

    // o - iterates over objects
    for (std::size_t o = 0; o < object_count; ++o) {
        out_data[o] = 0;

        // out_data[o] (starting with 0) is incremented every time in_data[o] is above a threshold
        // divisions is a small number (<=15), no reason to use binsearch, hence linear
        // d - iterates over divisions (per object o)
        for (std::size_t d = 0; d < divisions; ++d) {
            out_data[o] += in_data[o] > thresholds[d];
        }
    }

    delete[] thresholds;
}


PYBIND11_MODULE(wrap_discretize, module) {
    module.doc() = "Wrapper of https://bitbucket.org/mdfs/mdfs/src/master/src/cpu/discretize.cpp";
    module.def("discretize", &discretize,
               "In place discretization.",
               "seed"_a,
               "discretization_index"_a,
               "feature_id"_a,
               "divisions"_a,
               "object_count"_a,
               "py_in_data"_a,
               "py_sorted_in_data"_a,
               "py_out_data"_a,
               "range_"_a
              );
}

Overwriting wrap_discretize.cpp

In [4]:
%%writefile fast.cpp
/*
<%
cfg['compiler_args'] = ['-std=c++11', '-fopenmp']
cfg['linker_args'] = ['-fopenmp']
setup_pybind11(cfg)
%>
*/

#include <math.h>
#include <tuple>
#include <vector>
#include <pybind11/pybind11.h>
//#include <pybind11/stl.h>
#include <pybind11/numpy.h>
#include <omp.h>

#include "matrix_class.h"

namespace py = pybind11;

std::tuple<double, double, double> work_3a(const int kData_dim,
                                           const int kDivisions,
                                           py::array_t<int> &py_X0,
                                           py::array_t<int> &py_X1,
                                           py::array_t<int> &py_X2,
                                           const int kN_classes,
                                           py::array_t<double> &py_pseudo_counts,
                                           py::array_t<int> &py_y) {
    
    const int kC_Xdim = kDivisions + 1;
    const int kC_ydim = kN_classes;
    
    py::buffer_info py_X0_buf = py_X0.request();
    auto *X0 = static_cast<int *>(py_X0_buf.ptr);
    py::buffer_info py_X1_buf = py_X1.request();
    auto *X1 = static_cast<int *>(py_X1_buf.ptr);
    py::buffer_info py_X2_buf = py_X2.request();
    auto *X2 = static_cast<int *>(py_X2_buf.ptr);
    
    py::buffer_info py_y_buf = py_y.request();
    auto *y = static_cast<int *>(py_y_buf.ptr);
    
    py::buffer_info py_pseudo_counts_buf = py_pseudo_counts.request();
    auto *pseudo_counts = static_cast<double *>(py_pseudo_counts_buf.ptr);
    
    Matrix<int> contingency_m(kC_Xdim, kC_Xdim, kC_Xdim, kC_ydim);
    Matrix<double> contingency_m_y(kC_Xdim, kC_Xdim, kC_Xdim);
    
    for (int data_idx = 0; data_idx < kData_dim; data_idx++) {
        ++contingency_m(X0[data_idx], X1[data_idx], X2[data_idx], y[data_idx]);
    }

    double neg_H = 0., neg_H_X0 = 0., neg_H_X1 = 0., neg_H_X2 = 0.;
    
    #pragma omp parallel
    {
    
    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; ++C_Xidx_i) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; ++C_Xidx_j) {
            for (int C_yidx = 0; C_yidx < kC_ydim; ++C_yidx) {
                double count_X0 = 0;
                double count_X1 = 0;
                double count_X2 = 0;
                for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; C_Xidx_k++) {
                    double count_ijk = pseudo_counts[C_yidx] + contingency_m(C_Xidx_i, C_Xidx_j, C_Xidx_k, C_yidx);
                    count_X0 += pseudo_counts[C_yidx] + contingency_m(C_Xidx_k, C_Xidx_i, C_Xidx_j, C_yidx);
                    count_X1 += pseudo_counts[C_yidx] + contingency_m(C_Xidx_i, C_Xidx_k, C_Xidx_j, C_yidx);
                    count_X2 += count_ijk;
                    contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k) += count_ijk;
                    neg_H += count_ijk * log2(count_ijk);
                }
                neg_H_X0 += count_X0 * log2(count_X0);
                neg_H_X1 += count_X1 * log2(count_X1);
                neg_H_X2 += count_X2 * log2(count_X2);
            }
        }
    }

    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; ++C_Xidx_i) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; ++C_Xidx_j) {
            double count_X0_y = 0;
            double count_X1_y = 0;
            double count_X2_y = 0;
            for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; ++C_Xidx_k) {
                double count_y_ijk = contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k);
                neg_H -= count_y_ijk * log2(count_y_ijk);
                count_X0_y += contingency_m_y(C_Xidx_k, C_Xidx_i, C_Xidx_j);
                count_X1_y += contingency_m_y(C_Xidx_i, C_Xidx_k, C_Xidx_j);
                count_X2_y += contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k);
            }
            neg_H_X0 -= count_X0_y * log2(count_X0_y);
            neg_H_X1 -= count_X1_y * log2(count_X1_y);
            neg_H_X2 -= count_X2_y * log2(count_X2_y);
        }
    }
    
    }
    
    return std::make_tuple(neg_H - neg_H_X0,
                           neg_H - neg_H_X1,
                           neg_H - neg_H_X2
                          );    
}

std::tuple<double, double, double> work_3b(const int kData_dim,
                                           const int kDivisions,
                                           py::array_t<int> &py_X0,
                                           py::array_t<int> &py_X1,
                                           py::array_t<int> &py_X2,
                                           const int kN_classes,
                                           py::array_t<double> &py_pseudo_counts,
                                           py::array_t<int> &py_y) {
    
    const int kC_Xdim = kDivisions + 1;
    const int kC_ydim = kN_classes;
    
    py::buffer_info py_X0_buf = py_X0.request();
    auto *X0 = static_cast<int *>(py_X0_buf.ptr);
    py::buffer_info py_X1_buf = py_X1.request();
    auto *X1 = static_cast<int *>(py_X1_buf.ptr);
    py::buffer_info py_X2_buf = py_X2.request();
    auto *X2 = static_cast<int *>(py_X2_buf.ptr);
    
    py::buffer_info py_y_buf = py_y.request();
    auto *y = static_cast<int *>(py_y_buf.ptr);
    
    py::buffer_info py_pseudo_counts_buf = py_pseudo_counts.request();
    auto *pseudo_counts = static_cast<double *>(py_pseudo_counts_buf.ptr);
    
    Matrix<int> contingency_m(kC_Xdim, kC_Xdim, kC_Xdim, kC_ydim);
    Matrix<double> contingency_m_y(kC_Xdim, kC_Xdim, kC_Xdim);
    
    Matrix<omp_lock_t> contingency_m_lock(kC_Xdim, kC_Xdim, kC_Xdim, kC_ydim);
                                                                                                
    for (int C_Xidx_0 = 0; C_Xidx_0 < kC_Xdim; ++C_Xidx_0) {
        for (int C_Xidx_1 = 0; C_Xidx_1 < kC_Xdim; ++C_Xidx_1) {
            for (int C_Xidx_2 = 0; C_Xidx_2 < kC_Xdim; ++C_Xidx_2) {
                for (int C_yidx = 0; C_yidx < kC_ydim; ++C_yidx) {
                    omp_init_lock(&contingency_m_lock(C_Xidx_0, C_Xidx_1, C_Xidx_2, C_yidx));
                }
            }
        }
    }


    double neg_H = 0., neg_H_X0 = 0., neg_H_X1 = 0., neg_H_X2 = 0.;
    
    #pragma omp parallel
    {
    
    #pragma omp for                                           
    for (int data_idx = 0; data_idx < kData_dim; data_idx++) {
        omp_set_lock(&contingency_m_lock(X0[data_idx], X1[data_idx], X2[data_idx], y[data_idx]));
        ++contingency_m(X0[data_idx], X1[data_idx], X2[data_idx], y[data_idx]);
        omp_unset_lock(&contingency_m_lock(X0[data_idx], X1[data_idx], X2[data_idx], y[data_idx]));
    }
    
    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; ++C_Xidx_i) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; ++C_Xidx_j) {
            for (int C_yidx = 0; C_yidx < kC_ydim; ++C_yidx) {
                double count_X0 = 0;
                double count_X1 = 0;
                double count_X2 = 0;
                for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; C_Xidx_k++) {
                    double count_ijk = pseudo_counts[C_yidx] + contingency_m(C_Xidx_i, C_Xidx_j, C_Xidx_k, C_yidx);
                    count_X0 += pseudo_counts[C_yidx] + contingency_m(C_Xidx_k, C_Xidx_i, C_Xidx_j, C_yidx);
                    count_X1 += pseudo_counts[C_yidx] + contingency_m(C_Xidx_i, C_Xidx_k, C_Xidx_j, C_yidx);
                    count_X2 += count_ijk;
                    contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k) += count_ijk;
                    neg_H += count_ijk * log2(count_ijk);
                }
                neg_H_X0 += count_X0 * log2(count_X0);
                neg_H_X1 += count_X1 * log2(count_X1);
                neg_H_X2 += count_X2 * log2(count_X2);
            }
        }
    }

    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; ++C_Xidx_i) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; ++C_Xidx_j) {
            double count_X0_y = 0;
            double count_X1_y = 0;
            double count_X2_y = 0;
            for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; ++C_Xidx_k) {
                double count_y_ijk = contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k);
                neg_H -= count_y_ijk * log2(count_y_ijk);
                count_X0_y += contingency_m_y(C_Xidx_k, C_Xidx_i, C_Xidx_j);
                count_X1_y += contingency_m_y(C_Xidx_i, C_Xidx_k, C_Xidx_j);
                count_X2_y += contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k);
            }
            neg_H_X0 -= count_X0_y * log2(count_X0_y);
            neg_H_X1 -= count_X1_y * log2(count_X1_y);
            neg_H_X2 -= count_X2_y * log2(count_X2_y);
        }
    }
    
    }
    
    return std::make_tuple(neg_H - neg_H_X0,
                           neg_H - neg_H_X1,
                           neg_H - neg_H_X2
                          );    
}

std::tuple<double, double, double> work_3c(const int kData_dim,
                                           const int kDivisions,
                                           py::array_t<int> &py_X0,
                                           py::array_t<int> &py_X1,
                                           py::array_t<int> &py_X2,
                                           const int kN_classes,
                                           py::array_t<double> &py_pseudo_counts,
                                           py::array_t<int> &py_y) {
    
    const int kC_Xdim = kDivisions + 1;
    const int kC_ydim = kN_classes;
    
    py::buffer_info py_X0_buf = py_X0.request();
    auto *X0 = static_cast<int *>(py_X0_buf.ptr);
    py::buffer_info py_X1_buf = py_X1.request();
    auto *X1 = static_cast<int *>(py_X1_buf.ptr);
    py::buffer_info py_X2_buf = py_X2.request();
    auto *X2 = static_cast<int *>(py_X2_buf.ptr);
    
    py::buffer_info py_y_buf = py_y.request();
    auto *y = static_cast<int *>(py_y_buf.ptr);
    
    py::buffer_info py_pseudo_counts_buf = py_pseudo_counts.request();
    auto *pseudo_counts = static_cast<double *>(py_pseudo_counts_buf.ptr);
    
    Matrix<int> contingency_m(kC_Xdim, kC_Xdim, kC_Xdim, kC_ydim);
    Matrix<double> contingency_m_y(kC_Xdim, kC_Xdim, kC_Xdim);                                                                                                


    double neg_H = 0., neg_H_X0 = 0., neg_H_X1 = 0., neg_H_X2 = 0.;
    
    #pragma omp parallel
    {
    
    #pragma omp for                                         
    for (int data_idx = 0; data_idx < kData_dim; data_idx++) {
        #pragma omp atomic
            ++contingency_m(X0[data_idx], X1[data_idx], X2[data_idx], y[data_idx]);
    }
    
    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; ++C_Xidx_i) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; ++C_Xidx_j) {
            for (int C_yidx = 0; C_yidx < kC_ydim; ++C_yidx) {
                double count_X0 = 0;
                double count_X1 = 0;
                double count_X2 = 0;
                for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; C_Xidx_k++) {
                    double count_ijk = pseudo_counts[C_yidx] + contingency_m(C_Xidx_i, C_Xidx_j, C_Xidx_k, C_yidx);
                    count_X0 += pseudo_counts[C_yidx] + contingency_m(C_Xidx_k, C_Xidx_i, C_Xidx_j, C_yidx);
                    count_X1 += pseudo_counts[C_yidx] + contingency_m(C_Xidx_i, C_Xidx_k, C_Xidx_j, C_yidx);
                    count_X2 += count_ijk;
                    contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k) += count_ijk;
                    neg_H += count_ijk * log2(count_ijk);
                }
                neg_H_X0 += count_X0 * log2(count_X0);
                neg_H_X1 += count_X1 * log2(count_X1);
                neg_H_X2 += count_X2 * log2(count_X2);
            }
        }
    }

    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; ++C_Xidx_i) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; ++C_Xidx_j) {
            double count_X0_y = 0;
            double count_X1_y = 0;
            double count_X2_y = 0;
            for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; ++C_Xidx_k) {
                double count_y_ijk = contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k);
                neg_H -= count_y_ijk * log2(count_y_ijk);
                count_X0_y += contingency_m_y(C_Xidx_k, C_Xidx_i, C_Xidx_j);
                count_X1_y += contingency_m_y(C_Xidx_i, C_Xidx_k, C_Xidx_j);
                count_X2_y += contingency_m_y(C_Xidx_i, C_Xidx_j, C_Xidx_k);
            }
            neg_H_X0 -= count_X0_y * log2(count_X0_y);
            neg_H_X1 -= count_X1_y * log2(count_X1_y);
            neg_H_X2 -= count_X2_y * log2(count_X2_y);
        }
    }
    
    }
    
    return std::make_tuple(neg_H - neg_H_X0,
                           neg_H - neg_H_X1,
                           neg_H - neg_H_X2
                          );    
}
    

std::tuple<double, double, double> work_3_old(const int kData_dim,
                                              const int kDivisions,
                                              py::array_t<int> &py_X0,
                                              py::array_t<int> &py_X1,
                                              py::array_t<int> &py_X2,
                                              const int kN_classes,
                                              py::array_t<double> &py_pseudo_counts,
                                              py::array_t<int> &py_y) {
    
    const int kC_Xdim = kDivisions + 1;
    const int kC_ydim = kN_classes;
    
    py::buffer_info py_X0_buf = py_X0.request();
    auto *X0 = static_cast<int *>(py_X0_buf.ptr);
    py::buffer_info py_X1_buf = py_X1.request();
    auto *X1 = static_cast<int *>(py_X1_buf.ptr);
    py::buffer_info py_X2_buf = py_X2.request();
    auto *X2 = static_cast<int *>(py_X2_buf.ptr);
    
    py::buffer_info py_y_buf = py_y.request();
    auto *y = static_cast<int *>(py_y_buf.ptr);
    
    py::buffer_info py_pseudo_counts_buf = py_pseudo_counts.request();
    auto *pseudo_counts = static_cast<double *>(py_pseudo_counts_buf.ptr);
    
    int contingency_m[kC_Xdim][kC_Xdim][kC_Xdim][kC_ydim] = {};
    double contingency_m_y[kC_Xdim][kC_Xdim][kC_Xdim] = {};

    for (int data_idx = 0; data_idx < kData_dim; data_idx++) {
        contingency_m[X0[data_idx]][X1[data_idx]][X2[data_idx]][y[data_idx]]++;
    }

    double neg_H = 0., neg_H_X0 = 0., neg_H_X1 = 0., neg_H_X2 = 0.;
    
    #pragma omp parallel
    {
    
    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; C_Xidx_i++) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; C_Xidx_j++) {
            for (int C_yidx = 0; C_yidx < kC_ydim; C_yidx++) {
                double count_X0 = 0;
                double count_X1 = 0;
                double count_X2 = 0;
                for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; C_Xidx_k++) {
                    double count_ijk = pseudo_counts[C_yidx] + contingency_m[C_Xidx_i][C_Xidx_j][C_Xidx_k][C_yidx];
                    count_X0 += pseudo_counts[C_yidx] + contingency_m[C_Xidx_k][C_Xidx_i][C_Xidx_j][C_yidx];
                    count_X1 += pseudo_counts[C_yidx] + contingency_m[C_Xidx_i][C_Xidx_k][C_Xidx_j][C_yidx];
                    count_X2 += count_ijk;
                    contingency_m_y[C_Xidx_i][C_Xidx_j][C_Xidx_k] += count_ijk;
                    neg_H += count_ijk * log2(count_ijk);
                }
                neg_H_X0 += count_X0 * log2(count_X0);
                neg_H_X1 += count_X1 * log2(count_X1);
                neg_H_X2 += count_X2 * log2(count_X2);
            }
        }
    }

    #pragma omp for reduction (+: neg_H, neg_H_X0, neg_H_X1, neg_H_X2)
    for (int C_Xidx_i = 0; C_Xidx_i < kC_Xdim; C_Xidx_i++) {
        for (int C_Xidx_j = 0; C_Xidx_j < kC_Xdim; C_Xidx_j++) {
            double count_X0_y = 0;
            double count_X1_y = 0;
            double count_X2_y = 0;
            for (int C_Xidx_k = 0; C_Xidx_k < kC_Xdim; C_Xidx_k++) {
                neg_H -= contingency_m_y[C_Xidx_i][C_Xidx_j][C_Xidx_k] * log2(contingency_m_y[C_Xidx_i][C_Xidx_j][C_Xidx_k]);
                count_X0_y += contingency_m_y[C_Xidx_k][C_Xidx_i][C_Xidx_j];
                count_X1_y += contingency_m_y[C_Xidx_i][C_Xidx_k][C_Xidx_j];
                count_X2_y += contingency_m_y[C_Xidx_i][C_Xidx_j][C_Xidx_k];
            }
            neg_H_X0 -= count_X0_y * log2(count_X0_y);
            neg_H_X1 -= count_X1_y * log2(count_X1_y);
            neg_H_X2 -= count_X2_y * log2(count_X2_y);
        }
    }
    
    }
        
    return std::make_tuple(neg_H - neg_H_X0,
                           neg_H - neg_H_X1,
                           neg_H - neg_H_X2
                          );
}
       

PYBIND11_MODULE(fast, module) {
    module.def("work_3a", &work_3a);
    module.def("work_3b", &work_3b);
    module.def("work_3c", &work_3c);
    module.def("work_3_old", &work_3_old);
}

Overwriting fast.cpp

Compilation

In [5]:
import cppimport
#cppimport.set_quiet(False)

fast = cppimport.imp("fast")
cppimport.imp("wrap_discretize")

---
Make the partially-discretized csv file. Discretize every `n`th column.

In [6]:
import wrap_discretize
import numpy as np
from pandas import read_csv
import pandas as pd

data_df = read_csv("madelon.csv", header=None)
data_df_2 = data_df.copy()
in_data = np.ascontiguousarray(np.array(data_df.values.T, dtype='float64')[:-2])
out_data = np.zeros_like(in_data, dtype='uint8')

In [8]:
n = 5

for col_idx in range(0, in_data.shape[0] - 2):
    if col_idx % n == 0:
        wrap_discretize.discretize(
            seed = 123,
            discretization_index = 0,
            feature_id = col_idx,
            divisions = 1 + col_idx // n % n,
            object_count = in_data.shape[1],
            py_in_data = in_data[col_idx],
            py_sorted_in_data = np.sort(in_data[col_idx]),
            py_out_data = out_data[col_idx],
            range_ = 0
        )
        data_df_2[col_idx] = out_data[col_idx]

data_df_3 = pd.DataFrame(data_df_2.values.astype('float'))
data_df_3.to_csv('madelon_{}.csv'.format(n), header=False, index=False)

---
Make a data sample: pick `m` last X-columns in the `madelon_5`

In [9]:
m = 50

from pandas import read_csv

madelon = read_csv("madelon_5.csv", header=None)
madelon.iloc[:,-(m + 2):].to_csv('madelon_5_tiny.csv', header=False, index=False)
madelon_5_tiny = read_csv("madelon_5_tiny.csv", dtype = 'float64', header=None)
madelon_5_tiny.shape

discrete_cols = list(range(0, m, 5))
discrete_cols

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

---
Run the thing synchronously (make it a standalone script for profiling)

In [10]:
%%writefile march2_n1.py

import csv
import numpy as np
from scipy.stats import rankdata
from pandas import read_csv, DataFrame
from itertools import product, chain, starmap, combinations, combinations_with_replacement
from time import time
import pickle

import wrap_discretize
import fast

time0 = time()

k = 3
divisions = 7
range_ = 0.00
seed = 123
wrap_discretize_switch = True

# 1. Read in the data

file = "madelon_5_tiny.csv"
discrete_cols = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

input_ = []
with open(file) as csvfile:
    reader = csv.reader(csvfile, delimiter=',',
                        quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        input_.append(row)
        
input_ = np.ascontiguousarray(np.array(input_, dtype='float64').T[:-1])
data = np.zeros_like(input_, dtype='uint8')
bucket_counts = np.empty(input_.shape[0] - 1, dtype='int')

# Discretize the data

if wrap_discretize_switch:

    for col_idx in range(input_.shape[0] - 1):
        if col_idx in discrete_cols:
            data[col_idx] = input_[col_idx].astype('uint8')
            bucket_counts[col_idx] = len(np.unique(data[col_idx]))
        else:
            wrap_discretize.discretize(
                seed = 123,
                discretization_index = 0,
                feature_id = col_idx,  # ?
                divisions = divisions,
                object_count = input_.shape[1],
                py_in_data = input_[col_idx],
                py_sorted_in_data = np.sort(input_[col_idx]),
                py_out_data = data[col_idx],
                range_ = range_
            )
            bucket_counts[col_idx] = divisions + 1
else:
    
    def discretize(seq, divisions=divisions, range_=range_, seed=seed):
        '''
        >>> discretize([3, 4, 1, 8, 13, 8], divisions=4, range_=0, seed=123) = array([1, 1, 0, 2, 3, 2])
        where
        ranks = [2., 3., 1., 4.5, 6., 4.5]
        tresholds = [1.5,  3.,  4.5]
        '''
        np.random.seed(seed)
        ranks = rankdata(seq, method='average') # method='ordinal'/'average' ?

        random_blocks = np.cumsum(range_ * (2 * np.random.random(divisions + 1) - 1) + np.ones(divisions + 1))
        tresholds = random_blocks[:-1] / random_blocks[-1] * len(seq)

        discrete_seq = np.zeros(len(seq), dtype='uint8')
        for treshold in tresholds:
            discrete_seq[ranks > treshold] += 1
        return discrete_seq

    # discretize_vec = np.vectorize(discretize, signature='(n)->(n)', excluded=['divisions', 'range_', 'seed'])
    
    for col_idx in range(input_.shape[0] - 1):
        if col_idx in discrete_cols:
            data[col_idx] = input_[col_idx].astype('uint8')
            bucket_counts[col_idx] = len(np.unique(data[col_idx]))
        else:
            data[col_idx] = discretize(input_[col_idx])
            bucket_counts[col_idx] = divisions + 1


data[-1] = input_[-1:].astype('uint8')

final_results = {dof: {} for dof in set(map(np.prod, tuple(combinations(bucket_counts, r=k))))}

labels, counts = np.unique(data[-1], return_counts=True)
n_classes = len(labels)

xi = 0.25
pseudo_counts = xi * counts / np.min(counts)

dim0, dim1 = data[:-1].shape

# 3. More function definitions

def tuple_generator(k=k, dim0=dim0):
    '''
    Python-generator.
    E.g. output for k=2:
    {0,1}, {0,2}, ..., {0, dim0-1}, {1,2}, ..., {1,dim0-1}, ..., {dim0-2, dim0-1}
    Go with combinations_with_replacement() to include diagonal tuples like {0, 0}
    '''        
    return combinations(range(dim0), k)    

def neg_H(p):
    return p * np.log2(p)

def neg_H_cond(matrix):
    return np.sum(neg_H(matrix)) - np.sum(neg_H(np.sum(matrix, axis=-1)))

def slow_work(indeces):
    '''
    indeces -> tuple
    Work-function.
    Output: tuple of Information Gains implicitly corresponding to the indeces
    '''
    # contingency-matrix: begin with pseudo-counts
    contingency_m = np.empty([divisions + 1] * k + [len(labels)], dtype='float64')
    for label, pseudo_count in enumerate(pseudo_counts):
        contingency_m[..., label] = pseudo_count
    
    # contingency-matrix: normal counts
    for c_index in data[list(indeces) + [-1]].T:
        contingency_m[tuple(c_index)] += 1
    
    results = []
    for i in range(len(indeces)):
        result = neg_H_cond(contingency_m) - neg_H_cond(np.sum(contingency_m, axis=i))
        results.append(result)
    return tuple(results)


def record(tuple_, IGs, records):
    for column, IG in zip(tuple_, IGs):
        if column not in records or IG > records[column][0]:
            records[column] = (IG, tuple_)


for tuple_ in tuple_generator():
    #IGs = slow_work(tuple_)
    IGs = fast.work_3a(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
    #IGs = fast.work_3b(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
    #IGs = fast.work_3c(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
    #IGs = fast.work_3_old(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
    
    dof = np.prod(tuple(bucket_counts[col_idx] for col_idx in tuple_), dtype = 'int')
    record(tuple_, IGs, final_results[dof])

# result
print("Finished in", time() - time0, "sec.")

with open("march2_n1_results.pkl", "wb") as file:
    pickle.dump(final_results, file)

Overwriting march2_n1.py

In [11]:
%run march2_n1.py

Finished in 2.0947937965393066 sec.

In [12]:
import pandas as pd
import pickle
with open("march2_n1_results.pkl", "rb") as file:
    final_results_n1 = pickle.load(file)

for dof, dict_ in final_results_n1.items():
    
    df = pd.DataFrame(dict_).T.rename(columns={0: 'IG_max', 1: 'tuple'})
    df.sort_values('IG_max', ascending=False, inplace=True)

    print("product of X's bucket-counts = {}".format(dof))
    display(df)
    print("---")

product of X's bucket-counts = 128

     IG_max         tuple
1   273.836   (1, 25, 43)
22  268.547  (22, 25, 43)
25   239.06   (1, 25, 43)
43   221.95   (1, 25, 43)
3   205.555   (3, 22, 25)
14  124.049   (6, 14, 25)
6   121.529   (6, 14, 25)
42  118.579   (0, 12, 42)
12  118.251   (0, 12, 42)
21   117.97  (21, 25, 32)
38  113.601  (25, 37, 38)
4   113.473   (4, 25, 33)
27  113.357  (16, 25, 27)
18  112.652   (0, 18, 47)
8   111.974    (0, 8, 21)
37  110.895  (13, 25, 37)
9   110.664    (0, 9, 39)
47  110.031   (0, 18, 47)
32  109.761  (21, 25, 32)
33   109.55   (4, 25, 33)
16  109.496  (16, 25, 27)
31  109.407   (0, 27, 31)
39  108.512    (0, 9, 39)
41  108.222  (25, 37, 41)
19  107.911  (19, 25, 26)
28  107.408   (3, 25, 28)
11    107.1  (10, 11, 35)
24   107.04   (1, 24, 25)
46  106.954    (0, 3, 46)
2   106.371   (2, 13, 25)
44  105.543  (25, 42, 44)
7     105.3    (4, 7, 25)
26  102.915  (25, 26, 46)
49  102.906   (0, 47, 49)
29  102.785   (0, 27, 29)
13  102.101   (2, 13, 25)
36  100.961   (0, 36, 48)
48  100.378   (0, 36, 48)
17  99.4938   (0, 17, 33)
34  99.0157  (25, 34, 37)
10  95.2686  (10, 11, 35)
35  93.9888  (10, 11, 35)
23  83.5882   (0, 11, 23)
0   82.2361    (0, 2, 22)

---
product of X's bucket-counts = 512

     IG_max         tuple
43   469.58   (1, 22, 43)
3   457.692    (1, 3, 22)
22  412.102   (3, 22, 41)
1   407.952   (1, 32, 43)
9   392.656    (7, 9, 14)
18  390.184  (18, 37, 47)
7   383.371    (7, 9, 14)
14  379.428    (7, 9, 14)
38   373.26   (6, 12, 38)
48  372.887  (12, 17, 48)
37  372.379  (18, 37, 47)
47  372.217  (18, 37, 47)
28  369.824  (27, 28, 31)
29  369.554  (24, 29, 38)
24  368.798  (24, 29, 38)
6   368.686   (6, 12, 38)
8   368.586    (7, 8, 38)
32  368.554  (13, 32, 38)
17  368.342  (17, 43, 48)
12  367.184  (12, 13, 27)
39  366.847   (9, 39, 41)
31  365.903  (18, 31, 39)
27  365.836   (7, 12, 27)
34  365.514  (34, 37, 48)
49   365.25   (1, 17, 49)
13  363.855  (12, 13, 49)
26  362.781    (3, 7, 26)
42  362.362   (8, 14, 42)
4    362.15    (4, 7, 17)
44  357.266   (9, 38, 44)
41  356.309   (8, 22, 41)
19   355.31  (18, 19, 29)
21    355.3  (21, 39, 44)
2   354.236    (2, 8, 43)
11  353.973  (11, 32, 46)
46  353.434   (3, 34, 46)
16  352.915  (16, 27, 43)
36  349.572   (6, 36, 37)
33  349.015    (2, 9, 33)
23  260.503   (7, 22, 23)

---
product of X's bucket-counts = 64

     IG_max         tuple
25  182.566   (1, 10, 25)
22  140.764  (22, 25, 35)
1    125.37   (1, 25, 35)
43  79.6367   (0, 10, 43)
3   75.1602   (3, 10, 25)
38  62.3964  (10, 25, 38)
4    62.225    (0, 4, 10)
12   60.378   (0, 10, 12)
46  59.7042  (25, 35, 46)
37  59.6397  (10, 25, 37)
49  58.4989   (0, 10, 49)
7   57.2854   (7, 25, 35)
21  56.7208   (0, 10, 21)
10  55.6629  (10, 25, 37)
8   53.1097   (8, 25, 35)
35  52.8592  (25, 35, 46)
32  51.4556   (0, 10, 32)
2   51.0775   (2, 25, 35)
31  50.5698   (0, 31, 35)
14  50.1217  (10, 14, 25)
29  48.0539  (10, 25, 29)
41  47.1105   (0, 35, 41)
42  46.6693   (0, 10, 42)
11  45.7904  (11, 25, 35)
27  45.7547  (10, 25, 27)
28  45.1351   (0, 28, 35)
0   44.8217   (0, 10, 49)
36  44.7457   (0, 35, 36)
33  44.2264   (0, 10, 33)
48  44.1923  (10, 25, 48)
26  43.5663   (0, 26, 35)
6   43.5655   (6, 25, 35)
34  42.6615   (0, 10, 34)
19  41.0097  (10, 19, 25)
24  40.9218   (0, 10, 24)
16  40.3159   (0, 10, 16)
18  40.2994  (10, 18, 25)
17  40.2426  (17, 25, 35)
9   39.4786    (0, 9, 10)
23  39.4388   (0, 23, 35)
39  38.4983  (10, 25, 39)
47  36.6067  (25, 35, 47)
44  30.8617  (10, 25, 44)
13  30.4176  (10, 13, 25)

---
product of X's bucket-counts = 96

     IG_max         tuple
25  196.493   (1, 25, 45)
22  158.187  (22, 25, 45)
1   152.614   (1, 25, 45)
43  100.222  (10, 30, 43)
3   98.3192    (3, 5, 35)
49  88.9273   (5, 35, 49)
21   84.964   (0, 20, 21)
38  83.9944  (10, 30, 38)
5    83.901   (5, 10, 22)
2   80.4972    (2, 5, 35)
27  79.6911   (0, 20, 27)
35  79.1785  (22, 30, 35)
7   78.7057    (5, 7, 35)
24  77.8733  (20, 24, 25)
4   77.6245    (4, 5, 10)
20  77.4909   (0, 20, 21)
28  77.4094   (0, 28, 45)
12  77.0701   (0, 12, 20)
18  75.6782   (0, 18, 45)
45  75.1054   (0, 28, 45)
14  74.8127   (5, 10, 14)
34  74.6451  (25, 34, 45)
36  72.6849  (20, 25, 36)
41  72.6605   (5, 10, 41)
6   71.8047   (6, 30, 35)
48  71.2187  (25, 45, 48)
37  71.1711  (10, 30, 37)
9   71.1526    (0, 9, 20)
33  70.8363   (5, 33, 35)
47  70.4318  (20, 25, 47)
16  69.8089   (5, 10, 16)
10   69.448  (10, 30, 38)
26  68.9512   (5, 26, 35)
31  68.6783  (20, 25, 31)
17  68.4931   (0, 17, 20)
13  68.4883   (5, 10, 13)
29   68.348  (25, 29, 45)
46  67.8112  (30, 35, 46)
8   67.4685   (8, 10, 30)
39    66.81   (5, 10, 39)
44  65.7085   (0, 44, 45)
32   65.321  (10, 30, 32)
19  64.1105  (19, 20, 25)
11  63.3047   (5, 11, 35)
30   63.015  (21, 30, 35)
42  62.1589   (0, 42, 45)
0    53.301   (0, 28, 45)
23  45.7375  (20, 23, 25)

---
product of X's bucket-counts = 75

     IG_max         tuple
15  50.1007  (15, 30, 40)
30  40.7404  (15, 30, 40)
40   36.482  (15, 30, 40)
5   22.9353   (5, 15, 40)

---
product of X's bucket-counts = 12

     IG_max        tuple
25  80.2812   (0, 5, 25)
30  5.58672  (0, 25, 30)
5   4.57866   (0, 5, 25)
0   4.50967  (0, 25, 30)

---
product of X's bucket-counts = 256

     IG_max         tuple
43  274.679   (1, 35, 43)
22  272.551  (22, 35, 43)
3   264.746   (3, 10, 22)
1   252.568   (1, 35, 43)
7   218.965    (6, 7, 35)
6   211.011    (6, 7, 35)
42  209.362  (35, 42, 44)
33  207.522   (7, 10, 33)
44  207.511  (35, 42, 44)
28  206.581  (10, 27, 28)
32  205.922  (10, 32, 46)
4   205.359   (4, 10, 18)
31  204.763  (19, 31, 35)
27  204.083  (10, 27, 28)
12  202.796   (8, 10, 12)
17  202.762   (8, 17, 35)
8   202.428   (8, 17, 35)
37  201.533   (3, 10, 37)
2   201.148    (2, 3, 35)
41  199.802  (14, 35, 41)
38  198.783   (9, 35, 38)
46  198.375  (35, 46, 47)
18  198.102  (10, 17, 18)
21  197.432  (21, 35, 37)
14    195.8  (14, 35, 41)
34   195.52  (10, 18, 34)
9   194.678   (9, 10, 33)
19  194.345  (19, 31, 35)
10  191.925   (3, 10, 37)
11  191.436   (8, 11, 35)
49  190.404  (35, 38, 49)
39  190.379  (10, 12, 39)
47  189.978  (35, 46, 47)
16  188.459  (10, 13, 16)
13  188.353  (10, 13, 16)
26  188.346  (26, 29, 35)
29   186.83  (10, 27, 29)
35  184.949   (7, 35, 38)
24  184.011  (10, 24, 32)
48  183.941  (10, 27, 48)
36  180.752  (10, 36, 49)
23  139.541  (23, 28, 35)

---
product of X's bucket-counts = 288

     IG_max         tuple
12  232.248  (12, 20, 45)
22   226.06  (20, 22, 45)
20  216.434  (12, 20, 45)
45  215.181  (12, 20, 45)
47  209.646  (20, 45, 47)
3   209.303   (3, 20, 45)
19  207.075  (19, 20, 45)
26  204.043  (20, 26, 45)
21  202.643  (20, 21, 45)
16  199.804  (16, 20, 45)
38   198.81  (20, 38, 45)
17  198.623  (17, 20, 45)
36  198.105  (20, 36, 45)
13  196.101  (13, 20, 45)
18  195.212  (18, 20, 45)
4   194.647   (4, 20, 45)
49  192.971  (20, 45, 49)
43  192.501  (20, 43, 45)
44  191.164  (20, 44, 45)
14   189.74  (14, 20, 45)
29  187.928  (20, 29, 45)
28  187.304  (20, 28, 45)
1     186.6   (1, 20, 45)
46  184.384  (20, 45, 46)
42  182.771  (20, 42, 45)
6   180.375   (6, 20, 45)
7   179.298   (7, 20, 45)
34  179.168  (20, 34, 45)
31  178.993  (20, 31, 45)
48  177.462  (20, 45, 48)
33   175.69  (20, 33, 45)
41   173.44  (20, 41, 45)
27  171.966  (20, 27, 45)
9    171.89   (9, 20, 45)
8   169.552   (8, 20, 45)
2   168.189   (2, 20, 45)
37  167.968  (20, 37, 45)
24  163.236  (20, 24, 45)
11   157.43  (11, 20, 45)
39  152.163  (20, 39, 45)
32  148.065  (20, 32, 45)
23  137.563  (20, 23, 45)

---
product of X's bucket-counts = 16

     IG_max        tuple
25  86.1568  (0, 10, 25)
10  13.0456  (0, 10, 25)
0   8.11051  (0, 10, 25)
35  6.42254  (0, 25, 35)

---
product of X's bucket-counts = 320

     IG_max         tuple
43  310.992   (1, 15, 43)
3   301.226    (1, 3, 15)
22  282.246  (15, 22, 43)
1   277.736   (1, 15, 43)
31  256.037  (21, 31, 40)
32  255.199  (15, 32, 44)
7   254.491   (7, 33, 40)
15   254.21  (14, 15, 29)
14  253.877  (14, 15, 29)
4   252.222   (4, 40, 49)
26  252.015  (15, 26, 43)
33  251.447   (7, 33, 40)
18  250.695  (18, 40, 47)
12  249.821  (12, 27, 40)
44  249.253  (15, 32, 44)
29  248.935  (14, 15, 29)
47  248.295  (18, 40, 47)
21  247.925  (21, 31, 40)
8   247.698   (8, 40, 41)
48  247.277  (40, 44, 48)
41  246.278   (8, 40, 41)
6   245.438    (6, 7, 40)
42  244.428  (15, 28, 42)
38  244.214  (15, 22, 38)
27  243.514  (12, 27, 40)
28  241.822  (15, 28, 42)
49  240.198   (4, 40, 49)
19  237.563   (7, 19, 40)
2   236.547   (2, 15, 43)
9   235.604   (9, 16, 40)
24  234.632  (15, 24, 27)
11  234.004   (8, 11, 15)
40  233.913   (7, 33, 40)
16  231.094  (16, 40, 49)
36  231.055  (31, 36, 40)
37  230.804  (11, 37, 40)
46  230.755  (38, 40, 46)
39  230.374  (13, 15, 39)
34  228.644  (15, 34, 44)
17  228.168  (14, 17, 40)
13  221.105  (13, 15, 26)
23  170.792   (7, 23, 40)

---
product of X's bucket-counts = 18

     IG_max        tuple
25  84.6428  (5, 25, 30)
30  10.4251  (5, 25, 30)
5   10.1144  (5, 25, 30)
0   8.03345   (0, 5, 30)

---
product of X's bucket-counts = 20

     IG_max        tuple
25  85.5408  (0, 25, 40)
40  13.7282  (0, 25, 40)
15  13.2928  (0, 15, 25)
0   8.31254  (0, 25, 40)

---
product of X's bucket-counts = 150

     IG_max         tuple
20  93.1772  (15, 20, 40)
15  93.1053  (15, 20, 40)
40  86.0506  (15, 40, 45)
45  83.2297  (15, 40, 45)

---
product of X's bucket-counts = 24

     IG_max         tuple
25  94.0589  (10, 25, 30)
10  24.7454  (10, 25, 30)
30  20.8873  (10, 25, 30)
45  19.3284   (0, 25, 45)
35  18.8364    (0, 5, 35)
0   17.2316   (0, 25, 45)
5   15.6114    (0, 5, 35)
20  9.22434   (0, 20, 25)

---
product of X's bucket-counts = 36

     IG_max         tuple
25  91.1673  (25, 30, 45)
45  25.7115   (0, 30, 45)
20  24.4943   (0, 20, 30)
10  23.4886   (5, 10, 30)
30  23.0121   (5, 10, 30)
35  22.7909   (5, 30, 35)
0   20.0429   (0, 30, 45)
5   18.2737   (5, 10, 30)

---
product of X's bucket-counts = 90

     IG_max         tuple
15  101.254  (15, 20, 30)
20  91.5053  (15, 20, 30)
30  82.7159  (15, 20, 30)
45  66.0778   (5, 40, 45)
40  64.0402   (5, 40, 45)
5   52.3281   (5, 40, 45)

---
product of X's bucket-counts = 384

     IG_max         tuple
22  355.254   (3, 22, 45)
43  351.381   (1, 43, 45)
3   342.484    (1, 3, 45)
1   340.836   (1, 43, 45)
47  296.337  (41, 45, 47)
13  292.247  (13, 36, 45)
46  291.692  (24, 45, 46)
41  291.472  (41, 45, 47)
38   288.96  (32, 38, 45)
9    288.23   (9, 20, 38)
36  287.378  (13, 36, 45)
2   287.171    (2, 7, 45)
27  286.586  (27, 29, 45)
24  285.852  (24, 45, 46)
6    285.71   (6, 20, 29)
18  285.194  (18, 20, 37)
37  285.029  (18, 20, 37)
12  284.843   (1, 12, 45)
4   284.544   (4, 45, 46)
34  284.404   (3, 20, 34)
7   284.272    (2, 7, 45)
14  283.951  (14, 20, 41)
45  283.592  (13, 36, 45)
16  283.347  (16, 43, 45)
29  282.372  (27, 29, 45)
44  281.119  (32, 44, 45)
28  280.261  (11, 28, 45)
20  279.189  (12, 20, 37)
32  278.973  (32, 38, 45)
48  277.948  (20, 47, 48)
26  277.827   (1, 20, 26)
21  277.277  (20, 21, 46)
19  277.237   (8, 19, 20)
17  277.179  (17, 36, 45)
31  276.252   (1, 31, 45)
11  275.457  (11, 28, 45)
33  272.781  (29, 33, 45)
42  271.866  (16, 42, 45)
8   271.388   (8, 19, 20)
49  268.929  (38, 45, 49)
39  261.369   (3, 20, 39)
23  199.442   (7, 23, 45)

---
product of X's bucket-counts = 30

     IG_max         tuple
25  100.646   (5, 25, 40)
15  32.8888  (15, 25, 30)
40  29.2795   (5, 25, 40)
30  25.7566   (0, 15, 30)
5   24.6302   (5, 25, 40)
0   11.3722   (0, 30, 40)

---
product of X's bucket-counts = 32

     IG_max         tuple
25  171.685    (0, 1, 25)
1   106.061    (0, 1, 25)
22  105.898   (0, 22, 25)
43  44.9311   (0, 25, 43)
3   43.8661    (0, 3, 25)
38  36.8146   (0, 25, 38)
31  30.7594   (0, 25, 31)
21  27.9236   (0, 21, 25)
2   26.7287    (0, 2, 25)
8   25.6058    (0, 8, 25)
33  24.9757   (0, 25, 33)
41  24.8317   (0, 25, 41)
19  24.6554   (0, 19, 25)
36  23.0054   (0, 25, 36)
18  22.8634   (0, 18, 25)
0   22.6498    (0, 2, 25)
46  22.1872   (0, 25, 46)
48   21.758   (0, 25, 48)
10  21.6703  (10, 25, 35)
35   21.315   (0, 10, 35)
4   21.0972    (0, 4, 25)
34  19.9655   (0, 25, 34)
27  19.7438   (0, 25, 27)
28  19.7108   (0, 25, 28)
6    19.246    (0, 6, 25)
32   19.184   (0, 25, 32)
16  18.9671   (0, 16, 25)
29  18.8342   (0, 25, 29)
26  18.6249   (0, 25, 26)
9   18.4959    (0, 9, 25)
47   17.935   (0, 25, 47)
42  17.3474   (0, 25, 42)
12  17.2647   (0, 12, 25)
24   17.111   (0, 24, 25)
7   16.8208    (0, 7, 25)
11  16.6599   (0, 11, 25)
37  16.2995   (0, 25, 37)
14  16.2193   (0, 14, 25)
49  14.5426   (0, 25, 49)
13  14.3083   (0, 13, 25)
17  13.6118   (0, 17, 25)
39  12.3635   (0, 25, 39)
44  11.0499   (0, 25, 44)
23  7.62387   (0, 23, 25)

---
product of X's bucket-counts = 80

     IG_max         tuple
25  192.602   (1, 15, 25)
22  138.219  (15, 22, 25)
1   131.775   (1, 25, 40)
43  101.722  (25, 40, 43)
3   95.8564   (3, 25, 40)
41  72.5177  (15, 25, 41)
40  71.6443  (25, 40, 43)
15  69.9324  (15, 25, 41)
38   69.133  (15, 25, 38)
4   68.5428    (0, 4, 40)
14  67.8017  (14, 15, 25)
35  65.0599  (10, 15, 35)
31  63.4513   (0, 31, 40)
39  63.2764  (15, 25, 39)
48  62.2031  (25, 40, 48)
21  61.7635  (15, 21, 25)
11  61.3131  (11, 15, 25)
27   61.217   (0, 27, 40)
8   58.3243    (0, 8, 15)
12  57.9685   (0, 12, 40)
36  57.8464   (0, 36, 40)
28  57.6218  (25, 28, 40)
49   57.607   (0, 15, 49)
16  57.2079   (0, 15, 16)
19  56.8213  (15, 19, 25)
10  56.5558  (10, 15, 35)
6   56.4185   (6, 15, 25)
26  56.3573   (0, 26, 40)
2   56.2248   (2, 15, 25)
32  56.0331  (15, 25, 32)
29   55.235  (15, 25, 29)
9   54.9163   (9, 25, 40)
37  54.6361  (15, 25, 37)
17  53.2376   (0, 15, 17)
24  53.2223   (0, 15, 24)
47  51.5969   (0, 15, 47)
33  50.7579   (0, 33, 40)
46  50.5198   (0, 15, 46)
44  50.3054  (25, 40, 44)
18  48.8145   (0, 15, 18)
34  48.3606   (0, 15, 34)
42   47.668   (0, 40, 42)
7   47.3793    (0, 7, 40)
0   44.5952   (0, 27, 40)
13  38.2306   (0, 13, 15)
23  32.6274  (23, 25, 40)

---
product of X's bucket-counts = 100

     IG_max         tuple
15  65.4809  (15, 35, 40)
35  60.5986  (15, 35, 40)
40  56.6174  (10, 15, 40)
10  53.8079  (10, 15, 40)

---
product of X's bucket-counts = 48

     IG_max         tuple
25  184.451    (1, 5, 25)
22  176.607   (5, 22, 25)
1   131.224    (1, 5, 25)
43  89.7475   (5, 25, 43)
3   88.9441    (3, 5, 25)
5     86.03   (5, 22, 25)
41  50.3283   (5, 25, 41)
21  49.0963   (5, 21, 25)
4   47.9396    (0, 4, 30)
38  43.1389   (5, 25, 38)
49  41.9078    (0, 5, 49)
26   39.838    (0, 5, 26)
14  39.7025    (0, 5, 14)
2   39.6646     (0, 2, 5)
9   39.5093   (9, 25, 30)
39  39.4522  (25, 30, 39)
6   39.2202    (0, 6, 30)
16  36.7996   (0, 16, 30)
27  36.7227    (0, 5, 27)
48  36.7145  (25, 30, 48)
30  36.6137  (25, 30, 39)
8   36.0038   (8, 25, 30)
18   35.999   (5, 18, 25)
19  35.9953    (0, 5, 19)
42  35.1717   (5, 25, 42)
37  34.7424    (0, 5, 37)
28  34.1005  (25, 28, 30)
10  34.0781  (10, 25, 45)
7   34.0133    (0, 7, 30)
31   33.447  (25, 30, 31)
34  33.3339  (25, 30, 34)
24  33.0712   (5, 24, 25)
36  32.9186  (25, 30, 36)
44    32.61   (0, 30, 44)
46  32.3299  (25, 30, 46)
47  32.2945  (25, 30, 47)
45  31.2398  (10, 25, 45)
33   30.621   (5, 25, 33)
11  29.9708    (0, 5, 11)
35  29.4997   (5, 10, 35)
0   28.9582    (0, 4, 30)
20  27.6151  (10, 20, 25)
13  27.1602    (0, 5, 13)
17  27.0536   (0, 17, 30)
32  26.7267    (0, 5, 32)
29  26.6715  (25, 29, 30)
23  25.4453    (0, 5, 23)
12  25.2909    (0, 5, 12)

---
product of X's bucket-counts = 40

     IG_max         tuple
25  101.473  (10, 25, 40)
15  40.6688  (15, 25, 35)
35  31.8324  (15, 25, 35)
40   30.682  (25, 35, 40)
10  30.0706  (10, 25, 40)
0   20.3026   (0, 10, 15)

---
product of X's bucket-counts = 144

     IG_max         tuple
22  162.474   (5, 22, 45)
21  123.682   (5, 20, 21)
43  123.545   (5, 20, 43)
1   118.181    (1, 5, 45)
18  117.854  (18, 20, 30)
36  117.194  (30, 36, 45)
17  114.521  (17, 20, 30)
27  113.956   (5, 20, 27)
20  113.463  (17, 20, 30)
3   112.045   (3, 30, 45)
4   111.709   (4, 30, 45)
47    110.5  (30, 45, 47)
45  109.822  (30, 36, 45)
5   109.709   (5, 22, 45)
48  108.638   (5, 45, 48)
2   108.087   (2, 20, 30)
9   107.828   (9, 20, 30)
26  107.648   (5, 20, 26)
14  107.381   (5, 14, 20)
38  106.944   (5, 20, 38)
24  105.537   (5, 20, 24)
12  104.735  (12, 30, 45)
28  104.505   (5, 28, 45)
13  103.257   (5, 13, 45)
7    102.24    (5, 7, 20)
37   102.18   (5, 20, 37)
34  101.787   (5, 20, 34)
44  101.673   (5, 44, 45)
46  101.496  (30, 45, 46)
41  100.936   (5, 20, 41)
42   100.92   (5, 42, 45)
29  100.248   (5, 29, 45)
33  100.052   (5, 33, 45)
31  99.4955  (30, 31, 45)
19  99.2048   (5, 19, 20)
16  97.1252  (16, 20, 30)
6   96.9997    (5, 6, 20)
30  96.8819  (17, 20, 30)
49  96.6619   (5, 45, 49)
8   92.4669   (8, 30, 45)
11  89.4459   (5, 11, 45)
39  85.3625  (20, 30, 39)
32  83.7134  (30, 32, 45)
35  82.4377  (20, 35, 45)
23  73.0218  (20, 23, 30)
10  71.7254  (10, 20, 45)

---
product of X's bucket-counts = 108

     IG_max         tuple
45  73.7754   (5, 20, 45)
20  73.6791   (5, 20, 45)
5   56.6545   (5, 20, 45)
30  51.7875  (20, 30, 45)

---
product of X's bucket-counts = 45

     IG_max        tuple
15   42.142  (5, 15, 30)
30  38.7239  (5, 15, 30)
5   23.8445  (5, 15, 30)
40  15.1664  (5, 30, 40)

---
product of X's bucket-counts = 240

     IG_max         tuple
43  199.434  (15, 43, 45)
20  196.591  (15, 20, 27)
22  194.757  (15, 22, 45)
48  190.132  (40, 45, 48)
27  189.546  (15, 20, 27)
26  188.545  (20, 26, 40)
28  188.172  (28, 40, 45)
15   187.32  (15, 20, 41)
3   186.595   (3, 15, 45)
34  186.222  (15, 20, 34)
6    184.99   (6, 15, 45)
41  184.695  (15, 20, 41)
36  183.429  (15, 20, 36)
2   180.175   (2, 15, 45)
40  177.711  (40, 45, 48)
45  177.662  (28, 40, 45)
14   177.17  (14, 15, 45)
24  176.692  (20, 24, 40)
12  176.637  (12, 20, 40)
8   174.575   (8, 40, 45)
16  173.344  (15, 16, 45)
32  172.578  (15, 32, 45)
37  172.245  (15, 20, 37)
4   171.658   (4, 15, 45)
38  170.028  (15, 38, 45)
9    169.55   (9, 15, 20)
19  168.904  (15, 19, 20)
21  168.576  (20, 21, 40)
18  167.926  (15, 18, 20)
13  166.408  (13, 40, 45)
49  165.646  (15, 45, 49)
33  164.303  (33, 40, 45)
11  164.156  (11, 15, 20)
31  163.799  (31, 40, 45)
1   163.247   (1, 20, 40)
7   161.402   (7, 40, 45)
46  161.339  (20, 40, 46)
44  159.308  (20, 40, 44)
29  156.847  (15, 20, 29)
42  156.459  (40, 42, 45)
17  156.179  (15, 17, 45)
47   150.65  (15, 20, 47)
39  149.978  (39, 40, 45)
23  114.522  (20, 23, 40)

---
product of X's bucket-counts = 200

     IG_max         tuple
3   191.467   (3, 15, 40)
43   189.84  (15, 40, 43)
6   159.149   (6, 15, 40)
15  154.975   (3, 15, 40)
22  154.022  (15, 22, 40)
40  153.811   (3, 15, 40)
28  143.795  (15, 28, 40)
4   143.332   (4, 15, 40)
1   143.063   (1, 15, 40)
9   142.186   (9, 15, 40)
12  141.086  (12, 15, 40)
18  140.087  (15, 18, 40)
19  136.363  (15, 19, 40)
36  135.743  (15, 36, 40)
17  135.509  (15, 17, 40)
41  134.009  (15, 40, 41)
48  133.773  (15, 40, 48)
11  132.098  (11, 15, 40)
8   131.981   (8, 15, 40)
2   131.739   (2, 15, 40)
26  131.464  (15, 26, 40)
31  131.213  (15, 31, 40)
14  130.449  (14, 15, 40)
21  127.754  (15, 21, 40)
49   125.25  (15, 40, 49)
42  125.221  (15, 40, 42)
46  123.815  (15, 40, 46)
29  122.467  (15, 29, 40)
44  122.209  (15, 40, 44)
39  121.111  (15, 39, 40)
33  120.561  (15, 33, 40)
32  119.013  (15, 32, 40)
16   116.79  (15, 16, 40)
38  114.531  (15, 38, 40)
7   114.133   (7, 15, 40)
24  113.974  (15, 24, 40)
47  113.015  (15, 40, 47)
34  111.174  (15, 34, 40)
37  110.609  (15, 37, 40)
13  100.661  (13, 15, 40)
23  93.4052  (15, 23, 40)
27  93.3706  (15, 27, 40)

---
product of X's bucket-counts = 50

     IG_max         tuple
25  108.351  (15, 25, 40)
15  43.5233  (15, 25, 40)
40  39.9695  (15, 25, 40)
0   17.9463   (0, 15, 40)

---
product of X's bucket-counts = 180

     IG_max         tuple
20  117.307  (15, 20, 45)
45  112.384  (20, 40, 45)
15  106.612  (15, 20, 45)
40  104.581  (20, 40, 45)

---
product of X's bucket-counts = 54

     IG_max        tuple
20  29.1687  (5, 20, 30)
30  24.3762  (5, 20, 30)
45  21.9139  (5, 30, 45)
5   20.6196  (5, 20, 30)

---
product of X's bucket-counts = 120

     IG_max         tuple
22  145.994   (5, 22, 40)
43  125.153   (5, 40, 43)
3   115.057   (3, 30, 40)
41  105.686   (5, 15, 41)
28  105.294  (28, 30, 40)
21  98.8852   (5, 15, 21)
15  98.7188  (15, 30, 41)
5   98.5618   (5, 22, 40)
40  98.5273  (28, 30, 40)
38  94.9066   (5, 15, 38)
31  94.8023   (5, 31, 40)
7   94.2748    (5, 7, 40)
26  94.1267   (5, 26, 40)
49  93.5167   (5, 15, 49)
9   93.3216    (5, 9, 15)
1   92.4981    (1, 5, 15)
16  91.7656  (15, 16, 30)
14  91.5208   (5, 14, 15)
48  90.3204   (5, 40, 48)
39  89.6145   (5, 15, 39)
42  86.2379  (30, 40, 42)
30  86.2114  (15, 16, 30)
2   86.0376    (2, 5, 15)
12  85.9763   (5, 12, 15)
4   85.9388    (4, 5, 15)
29  84.8793  (15, 29, 30)
6   84.2463    (5, 6, 15)
10  83.6584  (10, 15, 45)
45   83.647  (10, 15, 45)
34  83.0937   (5, 15, 34)
46  82.8535  (30, 40, 46)
8   82.7264   (8, 30, 40)
36  82.1139   (5, 36, 40)
20  80.5631  (15, 20, 35)
19  80.1178  (15, 19, 30)
47  80.0664  (15, 30, 47)
37  78.6068   (5, 15, 37)
17  78.1337  (17, 30, 40)
18   77.411  (15, 18, 30)
33  76.6431   (5, 15, 33)
44  76.3138  (15, 30, 44)
24    75.62   (5, 15, 24)
27  74.8489   (5, 15, 27)
11  74.0225  (11, 15, 30)
32  73.9459  (30, 32, 40)
35    73.21  (15, 20, 35)
13  65.1009   (5, 13, 15)
23  55.3743  (15, 23, 30)

---
product of X's bucket-counts = 160

     IG_max         tuple
22  163.303  (15, 22, 35)
3   150.192   (3, 35, 40)
43  145.466  (10, 40, 43)
15  139.226  (15, 19, 35)
35   138.01  (15, 22, 35)
49  135.284  (15, 35, 49)
32  133.707  (10, 15, 32)
1   133.236   (1, 35, 40)
11  130.977  (11, 15, 35)
19  129.945  (15, 19, 35)
38  127.825  (15, 35, 38)
48  126.258  (35, 40, 48)
2   126.012   (2, 15, 35)
39  122.791  (15, 35, 39)
31  121.932  (31, 35, 40)
41  121.081  (15, 35, 41)
7   120.717   (7, 35, 40)
40  120.066   (1, 35, 40)
24  118.709  (24, 35, 40)
10  118.641  (10, 15, 32)
29  118.234  (10, 15, 29)
33  118.232  (10, 33, 40)
34  117.914  (10, 34, 40)
6   117.911   (6, 15, 35)
47  117.523  (15, 35, 47)
9   115.727   (9, 10, 15)
4   115.649   (4, 35, 40)
36  114.913  (35, 36, 40)
26  113.848  (15, 26, 35)
13  113.029  (13, 35, 40)
17  112.889  (17, 35, 40)
42   111.32  (10, 15, 42)
14   109.62  (14, 15, 35)
46  108.614  (10, 15, 46)
18  107.393  (15, 18, 35)
28  106.838  (10, 15, 28)
37  106.219  (10, 37, 40)
12  103.052  (10, 12, 15)
8   101.618   (8, 10, 40)
21  101.258  (10, 15, 21)
27  100.466  (27, 35, 40)
16  100.414  (10, 16, 40)
44  93.1045  (15, 35, 44)
23  84.7532  (15, 23, 35)

---
product of X's bucket-counts = 60

     IG_max         tuple
25   109.36  (15, 25, 45)
15  65.3801  (15, 30, 35)
35  51.6552  (15, 30, 35)
30  50.2189  (15, 30, 35)
20  45.4625   (0, 15, 20)
45   38.157  (15, 25, 45)
40  37.7823   (5, 35, 40)
10  36.9651  (10, 15, 30)
5   31.5472   (5, 35, 40)
0   26.9278   (0, 15, 45)

---
product of X's bucket-counts = 192

     IG_max         tuple
43    284.9    (1, 5, 43)
22  278.071   (5, 22, 43)
3   265.697     (1, 3, 5)
1   257.315    (1, 5, 43)
5   180.757   (5, 22, 43)
21  166.651   (5, 21, 27)
26  166.587   (5, 13, 26)
28  165.338  (17, 28, 30)
17    163.5  (17, 28, 30)
41  162.253  (22, 30, 41)
7   160.548    (5, 7, 42)
14  158.767   (5, 14, 44)
9    158.35    (5, 9, 44)
4   157.934   (4, 30, 33)
6   157.785    (5, 6, 22)
42  156.218    (5, 7, 42)
46  156.194  (30, 46, 47)
13  156.193   (5, 13, 26)
49  155.911   (5, 38, 49)
2   155.678   (2, 20, 35)
38  155.233  (35, 38, 45)
47  153.428  (30, 46, 47)
8   152.849   (8, 13, 30)
27  152.379  (27, 30, 49)
18  151.832   (6, 18, 30)
44  151.654    (5, 9, 44)
34  151.381   (5, 28, 34)
12  150.788  (10, 12, 45)
37  150.729  (13, 30, 37)
24  150.405    (1, 5, 24)
31  149.722   (5, 17, 31)
19  148.367    (4, 5, 19)
16  147.883  (16, 30, 36)
39  147.825   (5, 12, 39)
36  146.952  (16, 30, 36)
33  146.624    (1, 5, 33)
45  146.283  (10, 14, 45)
29  145.751  (27, 29, 30)
32  145.526  (30, 32, 44)
11  144.048   (5, 11, 41)
48  141.019   (5, 14, 48)
20  139.846   (9, 10, 20)
10  138.089  (10, 14, 45)
35  132.433   (2, 35, 45)
30  131.478  (30, 46, 47)
23  115.821    (5, 7, 23)

---
product of X's bucket-counts = 72

     IG_max         tuple
43  103.065   (5, 30, 43)
22  101.528   (5, 22, 30)
25  96.6994  (20, 25, 45)
3   88.8426    (3, 5, 30)
5    68.595   (5, 22, 30)
21  61.0716   (5, 21, 30)
9   60.6375    (5, 9, 30)
38  59.7251   (5, 30, 38)
41  56.4259   (5, 30, 41)
46  55.5272   (5, 30, 46)
49  54.6626   (5, 30, 49)
30  54.4905   (5, 30, 43)
18  53.3344   (5, 18, 30)
33  53.2314   (5, 30, 33)
1   52.1468    (1, 5, 30)
14  51.7288   (5, 14, 30)
24  50.7122   (5, 24, 30)
31  50.5598   (5, 30, 31)
45  48.9139   (5, 10, 45)
7   48.7523    (5, 7, 30)
37  48.4123   (5, 30, 37)
34  47.6283   (5, 30, 34)
2   47.4948    (2, 5, 30)
11  47.0249   (5, 11, 30)
42  46.4453   (5, 30, 42)
6   45.0832    (5, 6, 30)
36  44.6522   (5, 30, 36)
10  44.5017   (5, 10, 45)
4   43.7086    (4, 5, 30)
20  43.1167   (5, 10, 20)
12   42.858   (5, 12, 30)
16  42.6365   (5, 16, 30)
8   42.4087    (5, 8, 30)
27  41.5805   (5, 27, 30)
35  40.7439  (30, 35, 45)
26  40.1579   (5, 26, 30)
28  39.8146   (5, 28, 30)
17  39.3929   (5, 17, 30)
47  38.7249   (5, 30, 47)
48  38.6523   (5, 30, 48)
13   37.588   (5, 13, 30)
23  36.6074   (5, 23, 30)
32  36.3544   (5, 30, 32)
19  35.9875   (5, 19, 30)
39  32.9192   (5, 30, 39)
44  30.2612   (5, 30, 44)
29  30.0952   (5, 29, 30)
0   23.1752   (0, 20, 45)

---

In [13]:
%%bash
python -m cProfile -o march2_n1.prof march1_n1.py

Finished in 1.4661047458648682 sec.

In [14]:
import pstats
p = pstats.Stats('march2_n1.prof')
#p.sort_stats('time').print_stats(15)
p.strip_dirs().sort_stats('time').print_stats(10)

Sat Mar 23 10:22:38 2019    march2_n1.prof

         498457 function calls (488264 primitive calls) in 2.063 seconds

   Ordered by: internal time
   List reduced from 3382 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
    19600    1.326    0.000    1.326    0.000 {built-in method fast.work_3a}
        1    0.093    0.093    2.065    2.065 march1_n1.py:1(<module>)
      539    0.065    0.000    0.065    0.000 {built-in method marshal.loads}
    822/1    0.047    0.000    2.065    2.065 {built-in method builtins.exec}
   127/92    0.041    0.000    0.084    0.001 {built-in method _imp.create_dynamic}
    19600    0.037    0.000    0.037    0.000 march1_n1.py:122(record)
1574/1559    0.031    0.000    0.082    0.000 {built-in method builtins.__build_class__}
      297    0.022    0.000    0.054    0.000 doccer.py:12(docformat)
       48    0.014    0.000    0.014    0.000 config.py:414(register_option)
      870    0.014    0.000    0.014    0.000 {method 'sub' of '_sre.SRE_Pattern' objects}

---
Make a script that uses mpi4py and run with mpi from bash

In [15]:
%%writefile march2_mpi.py
import csv
import numpy as np
from scipy.stats import rankdata
from itertools import product, chain, starmap, combinations, combinations_with_replacement
import pickle

import wrap_discretize
import fast

from mpi4py import MPI
comm = MPI.COMM_WORLD
comm.Barrier()
time0 = MPI.Wtime()
size = comm.Get_size()
rank = comm.Get_rank()

k = 3
window = 5
divisions = 7
range_ = 0.0
seed = 123
    
wrap_discretize_switch = True

# 1. Read in the data

file = "madelon_5_tiny.csv"
discrete_cols = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

input_ = []
with open(file) as csvfile:
    reader = csv.reader(csvfile, delimiter=',',
                        quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        input_.append(row)
        
input_ = np.ascontiguousarray(np.array(input_, dtype='float64').T[:-1])
data = np.zeros_like(input_, dtype='uint8')
bucket_counts = np.empty(input_.shape[0] - 1, dtype='int')

# Discretize the data

if wrap_discretize_switch:

    for col_idx in range(input_.shape[0] - 1):
        if col_idx in discrete_cols:
            data[col_idx] = input_[col_idx].astype('uint8')
            bucket_counts[col_idx] = len(np.unique(data[col_idx]))
        else:
            wrap_discretize.discretize(
                seed = 123,
                discretization_index = 0,
                feature_id = col_idx,  # ?
                divisions = divisions,
                object_count = input_.shape[1],
                py_in_data = input_[col_idx],
                py_sorted_in_data = np.sort(input_[col_idx]),
                py_out_data = data[col_idx],
                range_ = range_
            )
            bucket_counts[col_idx] = divisions + 1
else:
    
    def discretize(seq, divisions=divisions, range_=range_, seed=seed):
        '''
        >>> discretize([3, 4, 1, 8, 13, 8], divisions=4, range_=0, seed=123) = array([1, 1, 0, 2, 3, 2])
        where
        ranks = [2., 3., 1., 4.5, 6., 4.5]
        tresholds = [1.5,  3.,  4.5]
        '''
        np.random.seed(seed)
        ranks = rankdata(seq, method='average') # method='ordinal'/'average' ?

        random_blocks = np.cumsum(range_ * (2 * np.random.random(divisions + 1) - 1) + np.ones(divisions + 1))
        tresholds = random_blocks[:-1] / random_blocks[-1] * len(seq)

        discrete_seq = np.zeros(len(seq), dtype='uint8')
        for treshold in tresholds:
            discrete_seq[ranks > treshold] += 1
        return discrete_seq

    #discretize_vec = np.vectorize(discretize, signature='(n)->(n)', excluded=['divisions', 'range_', 'seed'])
    
    for col_idx in range(input_.shape[0] - 1):
        if col_idx in discrete_cols:
            data[col_idx] = input_[col_idx].astype('uint8')
            bucket_counts[col_idx] = len(np.unique(data[col_idx]))
        else:
            data[col_idx] = discretize(input_[col_idx])
            bucket_counts[col_idx] = divisions + 1

    
data[-1] = input_[-1:].astype('uint8')

labels, counts = np.unique(data[-1], return_counts=True)
n_classes = len(labels)

xi = 0.25
pseudo_counts = xi * counts / np.min(counts)

dim0, dim1 = data[:-1].shape
M = (dim0 - 1) // window + 1
border_cols = range( (M-1) * window, dim0)

if rank == 0:
    print(rank, "dim0 =", dim0, "; dim1 =", dim1)

# 3. More function definitions

def tile_generator(k=k, M=M):
    '''
    Python-generator.
    E.g. output for k=2:
    {0,0}, {0,1}, ..., {0, M-1}, {1,1}, ..., {1,M-1}, ..., {M-1, M-1}
    Go with combinations(range(M), k) to exclude diagonal tuples
    '''        
    return combinations_with_replacement(range(M), k)    

def tuple_generator(tile, window=window, border_cols=border_cols):
    '''
    Map tile into sequence of k-tuples, i.e. fundamental-tiles,
    i.e. elements of the cartesian product of the data-columns
    '''
    index_counts = {index: tile.count(index) for index in tile}
    index_to_cols = lambda index: range(index * window, (index + 1) * window) if index != (M - 1) else border_cols 
    cols_tile = (combinations(index_to_cols(index), count) for (index, count) in index_counts.items())
    return (list(chain.from_iterable(col_indeces)) for col_indeces in product(*cols_tile))

def neg_H(p):
    return p * np.log2(p)

def neg_H_cond(matrix):
    return np.sum(neg_H(matrix)) - np.sum(neg_H(np.sum(matrix, axis=-1)))

def slow_work(tuple_, divisions=divisions, n_classes=n_classes, pseudo_counts=pseudo_counts):
    '''
    tuple_ -> list # dammit...
    Work-function.
    Output: tuple of Information Gains implicitly corresponding to column-indeces in the tuple_
    '''
    # contingency-matrix: begin with pseudo-counts
    contingency_m = np.empty([divisions + 1] * k + [n_classes], dtype='float64')
    for label, pseudo_count in enumerate(pseudo_counts):
        contingency_m[..., label] = pseudo_count
    
    # contingency-matrix: normal counts
    for c_index in data[tuple_ + [-1]].T:
        contingency_m[tuple(c_index)] += 1
    
    IGs = tuple(neg_H_cond(contingency_m) - neg_H_cond(np.sum(contingency_m, axis=i)) for i in range(len(tuple_)))
    return IGs


def record_tuple(tuple_, IGs, dof, records):
    # records -> dict of dicts
    for column, IG in zip(tuple_, IGs):
        if dof not in records:
            records[dof] = {column: (IG, tuple_)}
        elif column not in records[dof] or IG > records[dof][column][0]:
            records[dof][column] = (IG, tuple_)
            
def record_tile(tile_results, records):
    # tile_results, records -> dicts of dicts
    for dof, dict_ in tile_results.items():
        for column, (IG, tuple_) in dict_.items():
            if column not in records[dof] or IG > records[dof][column][0]:
                records[dof][column] = (IG, tuple_)

# 4 Work loop

if rank == 0:
    final_results = {dof: {} for dof in set(map(np.prod, tuple(combinations(bucket_counts, r=k))))}
    current_assignements = {rank: (0, None) for rank in range(1,size)}
    
    print(rank, "entering the for loop")
    status = MPI.Status()
    for tile in tile_generator():
        tile_results = comm.recv(status=status)
        record_tile(tile_results, final_results)
        comm.isend(tile, dest=status.source)
        job_count = current_assignements[status.source][0]
        current_assignements[status.source] = (job_count + 1, tile)
        
        #print(rank, "currently:", current_assignements)
    
    print(rank, "Work queue is empty")
    for _ in range(size - 1):
        tile_results = comm.recv(status=status)
        record_tile(tile_results, final_results)
        comm.isend(None, dest=status.source)

    # Save the results to a file
    with open("march2_mpi_results.pkl", "wb") as file:
        pickle.dump(final_results, file)

    print(rank, "says goodbye")
    print(rank, "Elapsed:", MPI.Wtime() - time0, "sec")
    
else:
    comm.send({}, dest=0)
    print(rank, "entering the while loop")
    while True:
        tile = comm.recv(source = 0)
        try:
            tile_results = {}
            for tuple_ in tuple_generator(tile):
                
                #IGs = slow_work(tuple_)
                IGs = fast.work_3a(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
                #IGs = fast.work_3b(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
                #IGs = fast.work_3c(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
                #IGs = fast.work_3_old(dim1, divisions, data[tuple_[0]], data[tuple_[1]], data[tuple_[2]], n_classes, pseudo_counts, data[-1])
                
                dof = np.prod(tuple(bucket_counts[col_idx] for col_idx in tuple_), dtype = 'int')
                record_tuple(tuple_, IGs, dof, tile_results)
            comm.isend(tile_results, dest=0)
        except:
            print(rank, "says goodbye")
            break

Overwriting march2_mpi.py

In [16]:
%%bash
export OMP_NUM_THREADS=1
mpirun -n 2 python march2_mpi.py

0 dim0 = 50 ; dim1 = 2000
1 entering the while loop
0 entering the for loop
0 Work queue is empty
1 says goodbye
0 says goodbye
0 Elapsed: 2.3193969349958934 sec

In [17]:
import pandas as pd
import pickle
with open("march2_mpi_results.pkl", "rb") as file:
    final_results_mpi = pickle.load(file)

for dof, dict_ in final_results_mpi.items():
    
    df = pd.DataFrame(dict_).T.rename(columns={0: 'IG_max', 1: 'tuple'})
    df.sort_values('IG_max', ascending=False, inplace=True)

    print("product of X's bucket-counts = {}".format(dof))
    display(df)
    print("---")

product of X's bucket-counts = 128

     IG_max         tuple
1   273.836   [1, 43, 25]
22  268.547  [43, 22, 25]
25   239.06   [1, 43, 25]
43   221.95   [1, 43, 25]
3   205.555   [3, 22, 25]
14  124.049   [6, 14, 25]
6   121.529   [6, 14, 25]
42  118.579   [0, 42, 12]
12  118.251   [0, 42, 12]
21   117.97  [21, 25, 32]
38  113.601  [25, 37, 38]
4   113.473   [4, 25, 33]
27  113.357  [16, 25, 27]
18  112.652   [0, 47, 18]
8   111.974    [0, 8, 21]
37  110.895  [13, 25, 37]
9   110.664    [0, 9, 39]
47  110.031   [0, 47, 18]
32  109.761  [21, 25, 32]
33   109.55   [4, 25, 33]
16  109.496  [16, 25, 27]
31  109.407   [0, 27, 31]
39  108.512    [0, 9, 39]
41  108.222  [41, 25, 37]
19  107.911  [19, 25, 26]
28  107.408   [3, 25, 28]
11    107.1  [10, 11, 35]
24   107.04   [1, 24, 25]
46  106.954    [0, 3, 46]
2   106.371   [2, 13, 25]
44  105.543  [42, 44, 25]
7     105.3    [4, 7, 25]
26  102.915  [46, 25, 26]
49  102.906   [0, 47, 49]
29  102.785   [0, 27, 29]
13  102.101   [2, 13, 25]
36  100.961   [0, 48, 36]
48  100.378   [0, 48, 36]
17  99.4938   [0, 17, 33]
34  99.0157  [25, 34, 37]
10  95.2686  [10, 11, 35]
35  93.9888  [10, 11, 35]
23  83.5882   [0, 11, 23]
0   82.2361    [0, 2, 22]

---
product of X's bucket-counts = 512

     IG_max         tuple
43   469.58   [1, 43, 22]
3   457.692    [1, 3, 22]
22  412.102   [3, 41, 22]
1   407.952   [1, 43, 32]
9   392.656    [7, 9, 14]
18  390.184  [47, 18, 37]
7   383.371    [7, 9, 14]
14  379.428    [7, 9, 14]
38   373.26   [6, 12, 38]
48  372.887  [48, 12, 17]
37  372.379  [47, 18, 37]
47  372.217  [47, 18, 37]
28  369.824  [27, 28, 31]
29  369.554  [24, 29, 38]
24  368.798  [24, 29, 38]
6   368.686   [6, 12, 38]
8   368.586    [7, 8, 38]
32  368.554  [13, 32, 38]
17  368.342  [43, 48, 17]
12  367.184  [12, 13, 27]
39  366.847   [41, 9, 39]
31  365.903  [18, 31, 39]
27  365.836   [7, 12, 27]
34  365.514  [48, 34, 37]
49   365.25   [1, 49, 17]
13  363.855  [49, 12, 13]
26  362.781    [3, 7, 26]
42  362.362   [42, 8, 14]
4    362.15    [4, 7, 17]
44  357.266   [44, 9, 38]
41  356.309   [41, 8, 22]
19   355.31  [18, 19, 29]
21    355.3  [44, 21, 39]
2   354.236    [2, 8, 43]
11  353.973  [46, 11, 32]
46  353.434   [3, 46, 34]
16  352.915  [43, 16, 27]
36  349.572   [6, 36, 37]
33  349.015    [2, 9, 33]
23  260.503   [7, 22, 23]

---
product of X's bucket-counts = 64

     IG_max         tuple
25  182.566   [1, 10, 25]
22  140.764  [22, 25, 35]
1    125.37   [1, 25, 35]
43  79.6367   [0, 43, 10]
3   75.1602   [3, 10, 25]
38  62.3964  [10, 25, 38]
4    62.225    [0, 4, 10]
12   60.378   [0, 10, 12]
46  59.7042  [46, 25, 35]
37  59.6397  [10, 25, 37]
49  58.4989   [0, 49, 10]
7   57.2854   [7, 25, 35]
21  56.7208   [0, 10, 21]
10  55.6629  [10, 25, 37]
8   53.1097   [8, 25, 35]
35  52.8592  [46, 25, 35]
32  51.4556   [0, 10, 32]
2   51.0775   [2, 25, 35]
31  50.5698   [0, 31, 35]
14  50.1217  [10, 14, 25]
29  48.0539  [10, 25, 29]
41  47.1105   [0, 41, 35]
42  46.6693   [0, 42, 10]
11  45.7904  [11, 25, 35]
27  45.7547  [10, 25, 27]
28  45.1351   [0, 28, 35]
0   44.8217   [0, 49, 10]
36  44.7457   [0, 35, 36]
33  44.2264   [0, 10, 33]
48  44.1923  [48, 10, 25]
26  43.5663   [0, 26, 35]
6   43.5655   [6, 25, 35]
34  42.6615   [0, 10, 34]
19  41.0097  [10, 19, 25]
24  40.9218   [0, 10, 24]
16  40.3159   [0, 10, 16]
18  40.2994  [10, 18, 25]
17  40.2426  [17, 25, 35]
9   39.4786    [0, 9, 10]
23  39.4388   [0, 23, 35]
39  38.4983  [10, 25, 39]
47  36.6067  [47, 25, 35]
44  30.8617  [44, 10, 25]
13  30.4176  [10, 13, 25]

---
product of X's bucket-counts = 96

     IG_max         tuple
25  196.493   [1, 45, 25]
22  158.187  [45, 22, 25]
1   152.614   [1, 45, 25]
43  100.222  [43, 10, 30]
3   98.3192    [3, 5, 35]
49  88.9273   [5, 49, 35]
21   84.964   [0, 20, 21]
38  83.9944  [10, 30, 38]
5    83.901   [5, 10, 22]
2   80.4972    [2, 5, 35]
27  79.6911   [0, 20, 27]
35  79.1785  [22, 30, 35]
7   78.7057    [5, 7, 35]
24  77.8733  [20, 24, 25]
4   77.6245    [4, 5, 10]
20  77.4909   [0, 20, 21]
28  77.4094   [0, 45, 28]
12  77.0701   [0, 12, 20]
18  75.6782   [0, 45, 18]
45  75.1054   [0, 45, 28]
14  74.8127   [5, 10, 14]
34  74.6451  [45, 25, 34]
36  72.6849  [20, 25, 36]
41  72.6605   [41, 5, 10]
6   71.8047   [6, 30, 35]
48  71.2187  [45, 48, 25]
37  71.1711  [10, 30, 37]
9   71.1526    [0, 9, 20]
33  70.8363   [5, 33, 35]
47  70.4318  [47, 20, 25]
16  69.8089   [5, 10, 16]
10   69.448  [10, 30, 38]
26  68.9512   [5, 26, 35]
31  68.6783  [20, 25, 31]
17  68.4931   [0, 17, 20]
13  68.4883   [5, 10, 13]
29   68.348  [45, 25, 29]
46  67.8112  [46, 30, 35]
8   67.4685   [8, 10, 30]
39    66.81   [5, 10, 39]
44  65.7085   [0, 44, 45]
32   65.321  [10, 30, 32]
19  64.1105  [19, 20, 25]
11  63.3047   [5, 11, 35]
30   63.015  [21, 30, 35]
42  62.1589   [0, 42, 45]
0    53.301   [0, 45, 28]
23  45.7375  [20, 23, 25]

---
product of X's bucket-counts = 75

     IG_max         tuple
15  50.1007  [40, 15, 30]
30  40.7404  [40, 15, 30]
40   36.482  [40, 15, 30]
5   22.9353   [40, 5, 15]

---
product of X's bucket-counts = 12

     IG_max        tuple
25  80.2812   [0, 5, 25]
30  5.58672  [0, 25, 30]
5   4.57866   [0, 5, 25]
0   4.50967  [0, 25, 30]

---
product of X's bucket-counts = 256

     IG_max         tuple
43  274.679   [1, 43, 35]
22  272.551  [43, 22, 35]
3   264.746   [3, 10, 22]
1   252.568   [1, 43, 35]
7   218.965    [6, 7, 35]
6   211.011    [6, 7, 35]
42  209.362  [42, 44, 35]
33  207.522   [7, 10, 33]
44  207.511  [42, 44, 35]
28  206.581  [10, 27, 28]
32  205.922  [46, 10, 32]
4   205.359   [4, 10, 18]
31  204.763  [19, 31, 35]
27  204.083  [10, 27, 28]
12  202.796   [8, 10, 12]
17  202.762   [8, 17, 35]
8   202.428   [8, 17, 35]
37  201.533   [3, 10, 37]
2   201.148    [2, 3, 35]
41  199.802  [41, 14, 35]
38  198.783   [9, 35, 38]
46  198.375  [46, 47, 35]
18  198.102  [10, 17, 18]
21  197.432  [21, 35, 37]
14    195.8  [41, 14, 35]
34   195.52  [10, 18, 34]
9   194.678   [9, 10, 33]
19  194.345  [19, 31, 35]
10  191.925   [3, 10, 37]
11  191.436   [8, 11, 35]
49  190.404  [49, 35, 38]
39  190.379  [10, 12, 39]
47  189.978  [46, 47, 35]
16  188.459  [10, 13, 16]
13  188.353  [10, 13, 16]
26  188.346  [26, 29, 35]
29   186.83  [10, 27, 29]
35  184.949   [7, 35, 38]
24  184.011  [10, 24, 32]
48  183.941  [48, 10, 27]
36  180.752  [49, 10, 36]
23  139.541  [23, 28, 35]

---
product of X's bucket-counts = 288

     IG_max         tuple
12  232.248  [45, 12, 20]
22   226.06  [45, 20, 22]
20  216.434  [45, 12, 20]
45  215.181  [45, 12, 20]
47  209.646  [45, 47, 20]
3   209.303   [3, 45, 20]
19  207.075  [45, 19, 20]
26  204.043  [45, 20, 26]
21  202.643  [45, 20, 21]
16  199.804  [45, 16, 20]
38   198.81  [45, 20, 38]
17  198.623  [45, 17, 20]
36  198.105  [45, 20, 36]
13  196.101  [45, 13, 20]
18  195.212  [45, 18, 20]
4   194.647   [4, 45, 20]
49  192.971  [45, 49, 20]
43  192.501  [43, 45, 20]
44  191.164  [44, 45, 20]
14   189.74  [45, 14, 20]
29  187.928  [45, 20, 29]
28  187.304  [45, 20, 28]
1     186.6   [1, 45, 20]
46  184.384  [45, 46, 20]
42  182.771  [42, 45, 20]
6   180.375   [6, 20, 45]
7   179.298   [7, 20, 45]
34  179.168  [45, 20, 34]
31  178.993  [45, 20, 31]
48  177.462  [45, 48, 20]
33   175.69  [45, 20, 33]
41   173.44  [41, 45, 20]
27  171.966  [45, 20, 27]
9    171.89   [9, 20, 45]
8   169.552   [8, 20, 45]
2   168.189   [2, 45, 20]
37  167.968  [45, 20, 37]
24  163.236  [45, 20, 24]
11   157.43  [45, 11, 20]
39  152.163  [45, 20, 39]
32  148.065  [45, 20, 32]
23  137.563  [45, 20, 23]

---
product of X's bucket-counts = 16

     IG_max        tuple
25  86.1568  [0, 10, 25]
10  13.0456  [0, 10, 25]
0   8.11051  [0, 10, 25]
35  6.42254  [0, 25, 35]

---
product of X's bucket-counts = 320

     IG_max         tuple
43  310.992   [1, 43, 15]
3   301.226    [1, 3, 15]
22  282.246  [43, 15, 22]
1   277.736   [1, 43, 15]
31  256.037  [40, 21, 31]
32  255.199  [44, 15, 32]
7   254.491   [40, 7, 33]
15   254.21  [14, 15, 29]
14  253.877  [14, 15, 29]
4   252.222   [4, 40, 49]
26  252.015  [43, 15, 26]
33  251.447   [40, 7, 33]
18  250.695  [40, 47, 18]
12  249.821  [40, 12, 27]
44  249.253  [44, 15, 32]
29  248.935  [14, 15, 29]
47  248.295  [40, 47, 18]
21  247.925  [40, 21, 31]
8   247.698   [40, 41, 8]
48  247.277  [40, 44, 48]
41  246.278   [40, 41, 8]
6   245.438    [40, 6, 7]
42  244.428  [42, 15, 28]
38  244.214  [15, 22, 38]
27  243.514  [40, 12, 27]
28  241.822  [42, 15, 28]
49  240.198   [4, 40, 49]
19  237.563   [40, 7, 19]
2   236.547   [2, 43, 15]
9   235.604   [40, 9, 16]
24  234.632  [15, 24, 27]
11  234.004   [8, 11, 15]
40  233.913   [40, 7, 33]
16  231.094  [40, 49, 16]
36  231.055  [40, 31, 36]
37  230.804  [40, 11, 37]
46  230.755  [40, 46, 38]
39  230.374  [13, 15, 39]
34  228.644  [44, 15, 34]
17  228.168  [40, 14, 17]
13  221.105  [13, 15, 26]
23  170.792   [40, 7, 23]

---
product of X's bucket-counts = 18

     IG_max        tuple
25  84.6428  [5, 25, 30]
30  10.4251  [5, 25, 30]
5   10.1144  [5, 25, 30]
0   8.03345   [0, 5, 30]

---
product of X's bucket-counts = 20

     IG_max        tuple
25  85.5408  [0, 40, 25]
40  13.7282  [0, 40, 25]
15  13.2928  [0, 15, 25]
0   8.31254  [0, 40, 25]

---
product of X's bucket-counts = 150

     IG_max         tuple
20  93.1772  [40, 15, 20]
15  93.1053  [40, 15, 20]
40  86.0506  [40, 45, 15]
45  83.2297  [40, 45, 15]

---
product of X's bucket-counts = 24

     IG_max         tuple
25  94.0589  [10, 25, 30]
10  24.7454  [10, 25, 30]
30  20.8873  [10, 25, 30]
45  19.3284   [0, 45, 25]
35  18.8364    [0, 5, 35]
0   17.2316   [0, 45, 25]
5   15.6114    [0, 5, 35]
20  9.22434   [0, 20, 25]

---
product of X's bucket-counts = 36

     IG_max         tuple
25  91.1673  [45, 25, 30]
45  25.7115   [0, 45, 30]
20  24.4943   [0, 20, 30]
10  23.4886   [5, 10, 30]
30  23.0121   [5, 10, 30]
35  22.7909   [5, 30, 35]
0   20.0429   [0, 45, 30]
5   18.2737   [5, 10, 30]

---
product of X's bucket-counts = 90

     IG_max         tuple
15  101.254  [15, 20, 30]
20  91.5053  [15, 20, 30]
30  82.7159  [15, 20, 30]
45  66.0778   [40, 5, 45]
40  64.0402   [40, 5, 45]
5   52.3281   [40, 5, 45]

---
product of X's bucket-counts = 384

     IG_max         tuple
22  355.254   [3, 45, 22]
43  351.381   [1, 43, 45]
3   342.484    [1, 3, 45]
1   340.836   [1, 43, 45]
47  296.337  [41, 45, 47]
13  292.247  [45, 13, 36]
46  291.692  [45, 46, 24]
41  291.472  [41, 45, 47]
38   288.96  [45, 32, 38]
9    288.23   [9, 20, 38]
36  287.378  [45, 13, 36]
2   287.171    [2, 7, 45]
27  286.586  [45, 27, 29]
24  285.852  [45, 46, 24]
6    285.71   [6, 20, 29]
18  285.194  [18, 20, 37]
37  285.029  [18, 20, 37]
12  284.843   [1, 45, 12]
4   284.544   [4, 45, 46]
34  284.404   [3, 20, 34]
7   284.272    [2, 7, 45]
14  283.951  [41, 14, 20]
45  283.592  [45, 13, 36]
16  283.347  [43, 45, 16]
29  282.372  [45, 27, 29]
44  281.119  [44, 45, 32]
28  280.261  [45, 11, 28]
20  279.189  [12, 20, 37]
32  278.973  [45, 32, 38]
48  277.948  [47, 48, 20]
26  277.827   [1, 20, 26]
21  277.277  [46, 20, 21]
19  277.237   [8, 19, 20]
17  277.179  [45, 17, 36]
31  276.252   [1, 45, 31]
11  275.457  [45, 11, 28]
33  272.781  [45, 29, 33]
42  271.866  [42, 45, 16]
8   271.388   [8, 19, 20]
49  268.929  [45, 49, 38]
39  261.369   [3, 20, 39]
23  199.442   [7, 23, 45]

---
product of X's bucket-counts = 30

     IG_max         tuple
25  100.646   [40, 5, 25]
15  32.8888  [15, 25, 30]
40  29.2795   [40, 5, 25]
30  25.7566   [0, 15, 30]
5   24.6302   [40, 5, 25]
0   11.3722   [0, 40, 30]

---
product of X's bucket-counts = 32

     IG_max         tuple
25  171.685    [0, 1, 25]
1   106.061    [0, 1, 25]
22  105.898   [0, 22, 25]
43  44.9311   [0, 43, 25]
3   43.8661    [0, 3, 25]
38  36.8146   [0, 25, 38]
31  30.7594   [0, 25, 31]
21  27.9236   [0, 21, 25]
2   26.7287    [0, 2, 25]
8   25.6058    [0, 8, 25]
33  24.9757   [0, 25, 33]
41  24.8317   [0, 41, 25]
19  24.6554   [0, 19, 25]
36  23.0054   [0, 25, 36]
18  22.8634   [0, 18, 25]
0   22.6498    [0, 2, 25]
46  22.1872   [0, 46, 25]
48   21.758   [0, 48, 25]
10  21.6703  [10, 25, 35]
35   21.315   [0, 10, 35]
4   21.0972    [0, 4, 25]
34  19.9655   [0, 25, 34]
27  19.7438   [0, 25, 27]
28  19.7108   [0, 25, 28]
6    19.246    [0, 6, 25]
32   19.184   [0, 25, 32]
16  18.9671   [0, 16, 25]
29  18.8342   [0, 25, 29]
26  18.6249   [0, 25, 26]
9   18.4959    [0, 9, 25]
47   17.935   [0, 47, 25]
42  17.3474   [0, 42, 25]
12  17.2647   [0, 12, 25]
24   17.111   [0, 24, 25]
7   16.8208    [0, 7, 25]
11  16.6599   [0, 11, 25]
37  16.2995   [0, 25, 37]
14  16.2193   [0, 14, 25]
49  14.5426   [0, 49, 25]
13  14.3083   [0, 13, 25]
17  13.6118   [0, 17, 25]
39  12.3635   [0, 25, 39]
44  11.0499   [0, 44, 25]
23  7.62387   [0, 23, 25]

---
product of X's bucket-counts = 80

     IG_max         tuple
25  192.602   [1, 15, 25]
22  138.219  [15, 22, 25]
1   131.775   [1, 40, 25]
43  101.722  [40, 43, 25]
3   95.8564   [3, 40, 25]
41  72.5177  [41, 15, 25]
40  71.6443  [40, 43, 25]
15  69.9324  [41, 15, 25]
38   69.133  [15, 25, 38]
4   68.5428    [0, 4, 40]
14  67.8017  [14, 15, 25]
35  65.0599  [10, 15, 35]
31  63.4513   [0, 40, 31]
39  63.2764  [15, 25, 39]
48  62.2031  [40, 48, 25]
21  61.7635  [15, 21, 25]
11  61.3131  [11, 15, 25]
27   61.217   [0, 40, 27]
8   58.3243    [0, 8, 15]
12  57.9685   [0, 40, 12]
36  57.8464   [0, 40, 36]
28  57.6218  [40, 25, 28]
49   57.607   [0, 49, 15]
16  57.2079   [0, 15, 16]
19  56.8213  [15, 19, 25]
10  56.5558  [10, 15, 35]
6   56.4185   [6, 15, 25]
26  56.3573   [0, 40, 26]
2   56.2248   [2, 15, 25]
32  56.0331  [15, 25, 32]
29   55.235  [15, 25, 29]
9   54.9163   [40, 9, 25]
37  54.6361  [15, 25, 37]
17  53.2376   [0, 15, 17]
24  53.2223   [0, 15, 24]
47  51.5969   [0, 47, 15]
33  50.7579   [0, 40, 33]
46  50.5198   [0, 46, 15]
44  50.3054  [40, 44, 25]
18  48.8145   [0, 15, 18]
34  48.3606   [0, 15, 34]
42   47.668   [0, 40, 42]
7   47.3793    [0, 7, 40]
0   44.5952   [0, 40, 27]
13  38.2306   [0, 13, 15]
23  32.6274  [40, 23, 25]

---
product of X's bucket-counts = 100

     IG_max         tuple
15  65.4809  [40, 15, 35]
35  60.5986  [40, 15, 35]
40  56.6174  [40, 10, 15]
10  53.8079  [40, 10, 15]

---
product of X's bucket-counts = 48

     IG_max         tuple
25  184.451    [1, 5, 25]
22  176.607   [5, 22, 25]
1   131.224    [1, 5, 25]
43  89.7475   [43, 5, 25]
3   88.9441    [3, 5, 25]
5     86.03   [5, 22, 25]
41  50.3283   [41, 5, 25]
21  49.0963   [5, 21, 25]
4   47.9396    [0, 4, 30]
38  43.1389   [5, 25, 38]
49  41.9078    [0, 5, 49]
26   39.838    [0, 5, 26]
14  39.7025    [0, 5, 14]
2   39.6646     [0, 2, 5]
9   39.5093   [9, 25, 30]
39  39.4522  [25, 30, 39]
6   39.2202    [0, 6, 30]
16  36.7996   [0, 16, 30]
27  36.7227    [0, 5, 27]
48  36.7145  [48, 25, 30]
30  36.6137  [25, 30, 39]
8   36.0038   [8, 25, 30]
18   35.999   [5, 18, 25]
19  35.9953    [0, 5, 19]
42  35.1717   [42, 5, 25]
37  34.7424    [0, 5, 37]
28  34.1005  [25, 28, 30]
10  34.0781  [45, 10, 25]
7   34.0133    [0, 7, 30]
31   33.447  [25, 30, 31]
34  33.3339  [25, 30, 34]
24  33.0712   [5, 24, 25]
36  32.9186  [25, 30, 36]
44    32.61   [0, 44, 30]
46  32.3299  [46, 25, 30]
47  32.2945  [47, 25, 30]
45  31.2398  [45, 10, 25]
33   30.621   [5, 25, 33]
11  29.9708    [0, 5, 11]
35  29.4997   [5, 10, 35]
0   28.9582    [0, 4, 30]
20  27.6151  [10, 20, 25]
13  27.1602    [0, 5, 13]
17  27.0536   [0, 17, 30]
32  26.7267    [0, 5, 32]
29  26.6715  [25, 29, 30]
23  25.4453    [0, 5, 23]
12  25.2909    [0, 5, 12]

---
product of X's bucket-counts = 40

     IG_max         tuple
25  101.473  [40, 10, 25]
15  40.6688  [15, 25, 35]
35  31.8324  [15, 25, 35]
40   30.682  [40, 25, 35]
10  30.0706  [40, 10, 25]
0   20.3026   [0, 10, 15]

---
product of X's bucket-counts = 144

     IG_max         tuple
22  162.474   [5, 22, 45]
21  123.682   [5, 20, 21]
43  123.545   [43, 5, 20]
1   118.181    [1, 5, 45]
18  117.854  [18, 20, 30]
36  117.194  [45, 30, 36]
17  114.521  [17, 20, 30]
27  113.956   [5, 20, 27]
20  113.463  [17, 20, 30]
3   112.045   [3, 45, 30]
4   111.709   [4, 45, 30]
47    110.5  [45, 47, 30]
45  109.822  [45, 30, 36]
5   109.709   [5, 22, 45]
48  108.638   [5, 45, 48]
2   108.087   [2, 20, 30]
9   107.828   [9, 20, 30]
26  107.648   [5, 20, 26]
14  107.381   [5, 14, 20]
38  106.944   [5, 20, 38]
24  105.537   [5, 20, 24]
12  104.735  [45, 12, 30]
28  104.505   [5, 28, 45]
13  103.257   [5, 13, 45]
7    102.24    [5, 7, 20]
37   102.18   [5, 20, 37]
34  101.787   [5, 20, 34]
44  101.673   [44, 5, 45]
46  101.496  [45, 46, 30]
41  100.936   [41, 5, 20]
42   100.92   [42, 5, 45]
29  100.248   [5, 29, 45]
33  100.052   [5, 33, 45]
31  99.4955  [45, 30, 31]
19  99.2048   [5, 19, 20]
16  97.1252  [16, 20, 30]
6   96.9997    [5, 6, 20]
30  96.8819  [17, 20, 30]
49  96.6619   [5, 45, 49]
8   92.4669   [8, 30, 45]
11  89.4459   [5, 11, 45]
39  85.3625  [20, 30, 39]
32  83.7134  [45, 30, 32]
35  82.4377  [45, 20, 35]
23  73.0218  [20, 23, 30]
10  71.7254  [45, 10, 20]

---
product of X's bucket-counts = 108

     IG_max         tuple
45  73.7754   [5, 20, 45]
20  73.6791   [5, 20, 45]
5   56.6545   [5, 20, 45]
30  51.7875  [45, 20, 30]

---
product of X's bucket-counts = 45

     IG_max        tuple
15   42.142  [5, 15, 30]
30  38.7239  [5, 15, 30]
5   23.8445  [5, 15, 30]
40  15.1664  [40, 5, 30]

---
product of X's bucket-counts = 240

     IG_max         tuple
43  199.434  [43, 45, 15]
20  196.591  [15, 20, 27]
22  194.757  [45, 15, 22]
48  190.132  [40, 45, 48]
27  189.546  [15, 20, 27]
26  188.545  [40, 20, 26]
28  188.172  [40, 45, 28]
15   187.32  [41, 15, 20]
3   186.595   [3, 45, 15]
34  186.222  [15, 20, 34]
6    184.99   [6, 15, 45]
41  184.695  [41, 15, 20]
36  183.429  [15, 20, 36]
2   180.175   [2, 45, 15]
40  177.711  [40, 45, 48]
45  177.662  [40, 45, 28]
14   177.17  [45, 14, 15]
24  176.692  [40, 20, 24]
12  176.637  [40, 12, 20]
8   174.575   [40, 8, 45]
16  173.344  [45, 15, 16]
32  172.578  [45, 15, 32]
37  172.245  [15, 20, 37]
4   171.658   [4, 45, 15]
38  170.028  [45, 15, 38]
9    169.55   [9, 15, 20]
19  168.904  [15, 19, 20]
21  168.576  [40, 20, 21]
18  167.926  [15, 18, 20]
13  166.408  [40, 45, 13]
49  165.646  [45, 49, 15]
33  164.303  [40, 45, 33]
11  164.156  [11, 15, 20]
31  163.799  [40, 45, 31]
1   163.247   [1, 40, 20]
7   161.402   [40, 7, 45]
46  161.339  [40, 46, 20]
44  159.308  [40, 44, 20]
29  156.847  [15, 20, 29]
42  156.459  [40, 42, 45]
17  156.179  [45, 15, 17]
47   150.65  [47, 15, 20]
39  149.978  [40, 45, 39]
23  114.522  [40, 20, 23]

---
product of X's bucket-counts = 200

     IG_max         tuple
3   191.467   [3, 40, 15]
43   189.84  [40, 43, 15]
6   159.149   [40, 6, 15]
15  154.975   [3, 40, 15]
22  154.022  [40, 15, 22]
40  153.811   [3, 40, 15]
28  143.795  [40, 15, 28]
4   143.332   [4, 40, 15]
1   143.063   [1, 40, 15]
9   142.186   [40, 9, 15]
12  141.086  [40, 12, 15]
18  140.087  [40, 15, 18]
19  136.363  [40, 15, 19]
36  135.743  [40, 15, 36]
17  135.509  [40, 15, 17]
41  134.009  [40, 41, 15]
48  133.773  [40, 48, 15]
11  132.098  [40, 11, 15]
8   131.981   [40, 8, 15]
2   131.739   [2, 40, 15]
26  131.464  [40, 15, 26]
31  131.213  [40, 15, 31]
14  130.449  [40, 14, 15]
21  127.754  [40, 15, 21]
49   125.25  [40, 49, 15]
42  125.221  [40, 42, 15]
46  123.815  [40, 46, 15]
29  122.467  [40, 15, 29]
44  122.209  [40, 44, 15]
39  121.111  [40, 15, 39]
33  120.561  [40, 15, 33]
32  119.013  [40, 15, 32]
16   116.79  [40, 15, 16]
38  114.531  [40, 15, 38]
7   114.133   [40, 7, 15]
24  113.974  [40, 15, 24]
47  113.015  [40, 47, 15]
34  111.174  [40, 15, 34]
37  110.609  [40, 15, 37]
13  100.661  [40, 13, 15]
23  93.4052  [40, 15, 23]
27  93.3706  [40, 15, 27]

---
product of X's bucket-counts = 50

     IG_max         tuple
25  108.351  [40, 15, 25]
15  43.5233  [40, 15, 25]
40  39.9695  [40, 15, 25]
0   17.9463   [0, 40, 15]

---
product of X's bucket-counts = 180

     IG_max         tuple
20  117.307  [45, 15, 20]
45  112.384  [40, 45, 20]
15  106.612  [45, 15, 20]
40  104.581  [40, 45, 20]

---
product of X's bucket-counts = 54

     IG_max        tuple
20  29.1687  [5, 20, 30]
30  24.3762  [5, 20, 30]
45  21.9139  [5, 30, 45]
5   20.6196  [5, 20, 30]

---
product of X's bucket-counts = 120

     IG_max         tuple
22  145.994   [40, 5, 22]
43  125.153   [40, 43, 5]
3   115.057   [3, 40, 30]
41  105.686   [41, 5, 15]
28  105.294  [40, 28, 30]
21  98.8852   [5, 15, 21]
15  98.7188  [41, 15, 30]
5   98.5618   [40, 5, 22]
40  98.5273  [40, 28, 30]
38  94.9066   [5, 15, 38]
31  94.8023   [40, 5, 31]
7   94.2748    [40, 5, 7]
26  94.1267   [40, 5, 26]
49  93.5167   [5, 15, 49]
9   93.3216    [5, 9, 15]
1   92.4981    [1, 5, 15]
16  91.7656  [15, 16, 30]
14  91.5208   [5, 14, 15]
48  90.3204   [40, 5, 48]
39  89.6145   [5, 15, 39]
42  86.2379  [40, 42, 30]
30  86.2114  [15, 16, 30]
2   86.0376    [2, 5, 15]
12  85.9763   [5, 12, 15]
4   85.9388    [4, 5, 15]
29  84.8793  [15, 29, 30]
6   84.2463    [5, 6, 15]
10  83.6584  [45, 10, 15]
45   83.647  [45, 10, 15]
34  83.0937   [5, 15, 34]
46  82.8535  [40, 46, 30]
8   82.7264   [40, 8, 30]
36  82.1139   [40, 5, 36]
20  80.5631  [15, 20, 35]
19  80.1178  [15, 19, 30]
47  80.0664  [47, 15, 30]
37  78.6068   [5, 15, 37]
17  78.1337  [40, 17, 30]
18   77.411  [15, 18, 30]
33  76.6431   [5, 15, 33]
44  76.3138  [44, 15, 30]
24    75.62   [5, 15, 24]
27  74.8489   [5, 15, 27]
11  74.0225  [11, 15, 30]
32  73.9459  [40, 30, 32]
35    73.21  [15, 20, 35]
13  65.1009   [5, 13, 15]
23  55.3743  [15, 23, 30]

---
product of X's bucket-counts = 160

     IG_max         tuple
22  163.303  [15, 22, 35]
3   150.192   [3, 40, 35]
43  145.466  [40, 43, 10]
15  139.226  [15, 19, 35]
35   138.01  [15, 22, 35]
49  135.284  [49, 15, 35]
32  133.707  [10, 15, 32]
1   133.236   [1, 40, 35]
11  130.977  [11, 15, 35]
19  129.945  [15, 19, 35]
38  127.825  [15, 35, 38]
48  126.258  [40, 48, 35]
2   126.012   [2, 15, 35]
39  122.791  [15, 35, 39]
31  121.932  [40, 31, 35]
41  121.081  [41, 15, 35]
7   120.717   [40, 7, 35]
40  120.066   [1, 40, 35]
24  118.709  [40, 24, 35]
10  118.641  [10, 15, 32]
29  118.234  [10, 15, 29]
33  118.232  [40, 10, 33]
34  117.914  [40, 10, 34]
6   117.911   [6, 15, 35]
47  117.523  [47, 15, 35]
9   115.727   [9, 10, 15]
4   115.649   [4, 40, 35]
36  114.913  [40, 35, 36]
26  113.848  [15, 26, 35]
13  113.029  [40, 13, 35]
17  112.889  [40, 17, 35]
42   111.32  [42, 10, 15]
14   109.62  [14, 15, 35]
46  108.614  [46, 10, 15]
18  107.393  [15, 18, 35]
28  106.838  [10, 15, 28]
37  106.219  [40, 10, 37]
12  103.052  [10, 12, 15]
8   101.618   [40, 8, 10]
21  101.258  [10, 15, 21]
27  100.466  [40, 27, 35]
16  100.414  [40, 10, 16]
44  93.1045  [44, 15, 35]
23  84.7532  [15, 23, 35]

---
product of X's bucket-counts = 60

     IG_max         tuple
25   109.36  [45, 15, 25]
15  65.3801  [15, 30, 35]
35  51.6552  [15, 30, 35]
30  50.2189  [15, 30, 35]
20  45.4625   [0, 15, 20]
45   38.157  [45, 15, 25]
40  37.7823   [40, 5, 35]
10  36.9651  [10, 15, 30]
5   31.5472   [40, 5, 35]
0   26.9278   [0, 45, 15]

---
product of X's bucket-counts = 192

     IG_max         tuple
43    284.9    [1, 5, 43]
22  278.071   [43, 5, 22]
3   265.697     [1, 3, 5]
1   257.315    [1, 5, 43]
5   180.757   [43, 5, 22]
21  166.651   [5, 21, 27]
26  166.587   [5, 13, 26]
28  165.338  [17, 28, 30]
17    163.5  [17, 28, 30]
41  162.253  [41, 22, 30]
7   160.548    [42, 5, 7]
14  158.767   [44, 5, 14]
9    158.35    [44, 5, 9]
4   157.934   [4, 30, 33]
6   157.785    [5, 6, 22]
42  156.218    [42, 5, 7]
46  156.194  [46, 47, 30]
13  156.193   [5, 13, 26]
49  155.911   [5, 49, 38]
2   155.678   [2, 20, 35]
38  155.233  [45, 35, 38]
47  153.428  [46, 47, 30]
8   152.849   [8, 13, 30]
27  152.379  [49, 27, 30]
18  151.832   [6, 18, 30]
44  151.654    [44, 5, 9]
34  151.381   [5, 28, 34]
12  150.788  [45, 10, 12]
37  150.729  [13, 30, 37]
24  150.405    [1, 5, 24]
31  149.722   [5, 17, 31]
19  148.367    [4, 5, 19]
16  147.883  [16, 30, 36]
39  147.825   [5, 12, 39]
36  146.952  [16, 30, 36]
33  146.624    [1, 5, 33]
45  146.283  [45, 10, 14]
29  145.751  [27, 29, 30]
32  145.526  [44, 30, 32]
11  144.048   [41, 5, 11]
48  141.019   [5, 14, 48]
20  139.846   [9, 10, 20]
10  138.089  [45, 10, 14]
35  132.433   [2, 45, 35]
30  131.478  [46, 47, 30]
23  115.821    [5, 7, 23]

---
product of X's bucket-counts = 72

     IG_max         tuple
43  103.065   [43, 5, 30]
22  101.528   [5, 22, 30]
25  96.6994  [45, 20, 25]
3   88.8426    [3, 5, 30]
5    68.595   [5, 22, 30]
21  61.0716   [5, 21, 30]
9   60.6375    [5, 9, 30]
38  59.7251   [5, 30, 38]
41  56.4259   [41, 5, 30]
46  55.5272   [5, 30, 46]
49  54.6626   [5, 30, 49]
30  54.4905   [43, 5, 30]
18  53.3344   [5, 18, 30]
33  53.2314   [5, 30, 33]
1   52.1468    [1, 5, 30]
14  51.7288   [5, 14, 30]
24  50.7122   [5, 24, 30]
31  50.5598   [5, 30, 31]
45  48.9139   [5, 10, 45]
7   48.7523    [5, 7, 30]
37  48.4123   [5, 30, 37]
34  47.6283   [5, 30, 34]
2   47.4948    [2, 5, 30]
11  47.0249   [5, 11, 30]
42  46.4453   [42, 5, 30]
6   45.0832    [5, 6, 30]
36  44.6522   [5, 30, 36]
10  44.5017   [5, 10, 45]
4   43.7086    [4, 5, 30]
20  43.1167   [5, 10, 20]
12   42.858   [5, 12, 30]
16  42.6365   [5, 16, 30]
8   42.4087    [5, 8, 30]
27  41.5805   [5, 27, 30]
35  40.7439  [45, 30, 35]
26  40.1579   [5, 26, 30]
28  39.8146   [5, 28, 30]
17  39.3929   [5, 17, 30]
47  38.7249   [5, 30, 47]
48  38.6523   [5, 30, 48]
13   37.588   [5, 13, 30]
23  36.6074   [5, 23, 30]
32  36.3544   [5, 30, 32]
19  35.9875   [5, 19, 30]
39  32.9192   [5, 30, 39]
44  30.2612   [44, 5, 30]
29  30.0952   [5, 29, 30]
0   23.1752   [0, 45, 20]

---

Compare (manually) the results obtained with and without `mpi`

In [18]:
for key_mpi, dict_mpi in final_results_mpi.items():
    print(key_mpi)
    for column, result in dict_mpi.items():
        print("mpi: ", column, result)
        print(" n1: ", column, final_results_n1[key_mpi][column])
        print("--")
    print("--")

128
mpi:  0 (82.2360588224874, [0, 2, 22])
 n1:  0 (82.23605882248421, (0, 2, 22))
--
mpi:  1 (273.8360245123258, [1, 43, 25])
 n1:  1 (273.83602451232355, (1, 25, 43))
--
mpi:  2 (106.37081912636222, [2, 13, 25])
 n1:  2 (106.37081912635131, (2, 13, 25))
--
mpi:  3 (205.55459762079136, [3, 22, 25])
 n1:  3 (205.55459762078863, (3, 22, 25))
--
mpi:  4 (113.47304122763398, [4, 25, 33])
 n1:  4 (113.47304122762307, (4, 25, 33))
--
mpi:  6 (121.52879498170296, [6, 14, 25])
 n1:  6 (121.52879498169705, (6, 14, 25))
--
mpi:  7 (105.29950717678275, [4, 7, 25])
 n1:  7 (105.29950717677457, (4, 7, 25))
--
mpi:  8 (111.97358856250776, [0, 8, 21])
 n1:  8 (111.97358856250776, (0, 8, 21))
--
mpi:  9 (110.66435617404386, [0, 9, 39])
 n1:  9 (110.66435617404386, (0, 9, 39))
--
mpi:  10 (95.26860257119824, [10, 11, 35])
 n1:  10 (95.26860257119779, (10, 11, 35))
--
mpi:  11 (107.10007056155246, [10, 11, 35])
 n1:  11 (107.10007056154973, (10, 11, 35))
--
mpi:  12 (118.25052955910269, [0, 42, 12])
 n1:  12 (118.25052955909905, (0, 12, 42))
--
mpi:  13 (102.10054314343051, [2, 13, 25])
 n1:  13 (102.1005431434146, (2, 13, 25))
--
mpi:  14 (124.04946625700723, [6, 14, 25])
 n1:  14 (124.04946625700086, (6, 14, 25))
--
mpi:  16 (109.49629684997399, [16, 25, 27])
 n1:  16 (109.49629684996671, (16, 25, 27))
--
mpi:  17 (99.49378457303101, [0, 17, 33])
 n1:  17 (99.49378457303101, (0, 17, 33))
--
mpi:  18 (112.65190394648016, [0, 47, 18])
 n1:  18 (112.65190394648016, (0, 18, 47))
--
mpi:  19 (107.9111092542471, [19, 25, 26])
 n1:  19 (107.91110925424255, (19, 25, 26))
--
mpi:  21 (117.96975461454622, [21, 25, 32])
 n1:  21 (117.96975461454213, (21, 25, 32))
--
mpi:  22 (268.5470599841392, [43, 22, 25])
 n1:  22 (268.54705998413783, (22, 25, 43))
--
mpi:  23 (83.58824637792532, [0, 11, 23])
 n1:  23 (83.58824637792532, (0, 11, 23))
--
mpi:  24 (107.03966268473778, [1, 24, 25])
 n1:  24 (107.03966268473846, (1, 24, 25))
--
mpi:  25 (239.05960323637555, [1, 43, 25])
 n1:  25 (239.0596032363719, (1, 25, 43))
--
mpi:  26 (102.91470258433037, [46, 25, 26])
 n1:  26 (102.91470258432491, (25, 26, 46))
--
mpi:  27 (113.35738287598451, [16, 25, 27])
 n1:  27 (113.35738287597587, (16, 25, 27))
--
mpi:  28 (107.4081192659205, [3, 25, 28])
 n1:  28 (107.40811926591277, (3, 25, 28))
--
mpi:  29 (102.78512892420713, [0, 27, 29])
 n1:  29 (102.78512892420713, (0, 27, 29))
--
mpi:  31 (109.40675246554474, [0, 27, 31])
 n1:  31 (109.40675246554474, (0, 27, 31))
--
mpi:  32 (109.76128969243018, [21, 25, 32])
 n1:  32 (109.76128969242973, (21, 25, 32))
--
mpi:  33 (109.55048453623112, [4, 25, 33])
 n1:  33 (109.55048453621521, (4, 25, 33))
--
mpi:  34 (99.01565089501219, [25, 34, 37])
 n1:  34 (99.01565089501219, (25, 34, 37))
--
mpi:  35 (93.9887828464698, [10, 11, 35])
 n1:  35 (93.98878284646344, (10, 11, 35))
--
mpi:  36 (100.96087446435467, [0, 48, 36])
 n1:  36 (100.96087446435104, (0, 36, 48))
--
mpi:  37 (110.89523600085795, [13, 25, 37])
 n1:  37 (110.8952360008584, (13, 25, 37))
--
mpi:  38 (113.60135977794289, [25, 37, 38])
 n1:  38 (113.60135977794289, (25, 37, 38))
--
mpi:  39 (108.51202047548031, [0, 9, 39])
 n1:  39 (108.51202047548031, (0, 9, 39))
--
mpi:  41 (108.22219900478285, [41, 25, 37])
 n1:  41 (108.22219900478467, (25, 37, 41))
--
mpi:  42 (118.57903808156789, [0, 42, 12])
 n1:  42 (118.57903808156425, (0, 12, 42))
--
mpi:  43 (221.9503286917079, [1, 43, 25])
 n1:  43 (221.95032869170427, (1, 25, 43))
--
mpi:  44 (105.54348292871418, [42, 44, 25])
 n1:  44 (105.54348292872055, (25, 42, 44))
--
mpi:  46 (106.95397785221849, [0, 3, 46])
 n1:  46 (106.95397785221849, (0, 3, 46))
--
mpi:  47 (110.0307499269984, [0, 47, 18])
 n1:  47 (110.0307499269984, (0, 18, 47))
--
mpi:  48 (100.37802056240707, [0, 48, 36])
 n1:  48 (100.37802056240344, (0, 36, 48))
--
mpi:  49 (102.90598518172101, [0, 47, 49])
 n1:  49 (102.90598518172101, (0, 47, 49))
--
--
512
mpi:  1 (407.95165778237333, [1, 43, 32])
 n1:  1 (407.95165778237856, (1, 32, 43))
--
mpi:  2 (354.2358778559437, [2, 8, 43])
 n1:  2 (354.23587785593463, (2, 8, 43))
--
mpi:  3 (457.69227327673343, [1, 3, 22])
 n1:  3 (457.69227327673025, (1, 3, 22))
--
mpi:  4 (362.1495929040884, [4, 7, 17])
 n1:  4 (362.14959290409183, (4, 7, 17))
--
mpi:  6 (368.68609576443714, [6, 12, 38])
 n1:  6 (368.68609576443737, (6, 12, 38))
--
mpi:  7 (383.3714933185788, [7, 9, 14])
 n1:  7 (383.37149331857154, (7, 9, 14))
--
mpi:  8 (368.58603578124985, [7, 8, 38])
 n1:  8 (368.5860357812405, (7, 8, 38))
--
mpi:  9 (392.65603309961125, [7, 9, 14])
 n1:  9 (392.6560330996067, (7, 9, 14))
--
mpi:  11 (353.9726012494448, [46, 11, 32])
 n1:  11 (353.97260124943364, (11, 32, 46))
--
mpi:  12 (367.18449919283603, [12, 13, 27])
 n1:  12 (367.18449919282193, (12, 13, 27))
--
mpi:  13 (363.85532499012515, [49, 12, 13])
 n1:  13 (363.85532499012265, (12, 13, 49))
--
mpi:  14 (379.42801797181573, [7, 9, 14])
 n1:  14 (379.428017971808, (7, 9, 14))
--
mpi:  16 (352.91495194462277, [43, 16, 27])
 n1:  16 (352.9149519446105, (16, 27, 43))
--
mpi:  17 (368.34206934779377, [43, 48, 17])
 n1:  17 (368.34206934778945, (17, 43, 48))
--
mpi:  18 (390.18395785562143, [47, 18, 37])
 n1:  18 (390.1839578556178, (18, 37, 47))
--
mpi:  19 (355.30997750150937, [18, 19, 29])
 n1:  19 (355.3099775015046, (18, 19, 29))
--
mpi:  21 (355.300322095763, [44, 21, 39])
 n1:  21 (355.3003220957694, (21, 39, 44))
--
mpi:  22 (412.1024288861586, [3, 41, 22])
 n1:  22 (412.1024288861438, (3, 22, 41))
--
mpi:  23 (260.50314654329895, [7, 22, 23])
 n1:  23 (260.50314654330464, (7, 22, 23))
--
mpi:  24 (368.79755313414626, [24, 29, 38])
 n1:  24 (368.7975531341392, (24, 29, 38))
--
mpi:  26 (362.7806288485176, [3, 7, 26])
 n1:  26 (362.7806288485044, (3, 7, 26))
--
mpi:  27 (365.83567166590865, [7, 12, 27])
 n1:  27 (365.83567166590706, (7, 12, 27))
--
mpi:  28 (369.824032944538, [27, 28, 31])
 n1:  28 (369.82403294452683, (27, 28, 31))
--
mpi:  29 (369.5538775805462, [24, 29, 38])
 n1:  29 (369.55387758053644, (24, 29, 38))
--
mpi:  31 (365.9026261392296, [18, 31, 39])
 n1:  31 (365.902626139213, (18, 31, 39))
--
mpi:  32 (368.5541863619619, [13, 32, 38])
 n1:  32 (368.554186361956, (13, 32, 38))
--
mpi:  33 (349.01498028198466, [2, 9, 33])
 n1:  33 (349.01498028197966, (2, 9, 33))
--
mpi:  34 (365.51408492568, [48, 34, 37])
 n1:  34 (365.51408492566634, (34, 37, 48))
--
mpi:  36 (349.5723587613297, [6, 36, 37])
 n1:  36 (349.57235876132245, (6, 36, 37))
--
mpi:  37 (372.3785152894584, [47, 18, 37])
 n1:  37 (372.3785152894534, (18, 37, 47))
--
mpi:  38 (373.259513154419, [6, 12, 38])
 n1:  38 (373.25951315442694, (6, 12, 38))
--
mpi:  39 (366.8471377527326, [41, 9, 39])
 n1:  39 (366.84713775272394, (9, 39, 41))
--
mpi:  41 (356.30872991842534, [41, 8, 22])
 n1:  41 (356.30872991842716, (8, 22, 41))
--
mpi:  42 (362.36203788515513, [42, 8, 14])
 n1:  42 (362.36203788514854, (8, 14, 42))
--
mpi:  43 (469.5804672766635, [1, 43, 22])
 n1:  43 (469.5804672766567, (1, 22, 43))
--
mpi:  44 (357.26585882173276, [44, 9, 38])
 n1:  44 (357.2658588217214, (9, 38, 44))
--
mpi:  46 (353.4343692775151, [3, 46, 34])
 n1:  46 (353.434369277501, (3, 34, 46))
--
mpi:  47 (372.2165827226313, [47, 18, 37])
 n1:  47 (372.21658272262766, (18, 37, 47))
--
mpi:  48 (372.8872790735304, [48, 12, 17])
 n1:  48 (372.8872790735147, (12, 17, 48))
--
mpi:  49 (365.2495060392107, [1, 49, 17])
 n1:  49 (365.2495060392039, (1, 17, 49))
--
--
64
mpi:  0 (44.82169245902696, [0, 49, 10])
 n1:  0 (44.82169245903242, (0, 10, 49))
--
mpi:  1 (125.369522864793, [1, 25, 35])
 n1:  1 (125.36952286479254, (1, 25, 35))
--
mpi:  2 (51.07748199171874, [2, 25, 35])
 n1:  2 (51.07748199172056, (2, 25, 35))
--
mpi:  3 (75.16017606485275, [3, 10, 25])
 n1:  3 (75.16017606485684, (3, 10, 25))
--
mpi:  4 (62.224964128899956, [0, 4, 10])
 n1:  4 (62.224964128901775, (0, 4, 10))
--
mpi:  6 (43.56547331489128, [6, 25, 35])
 n1:  6 (43.565473314889005, (6, 25, 35))
--
mpi:  7 (57.28537602188135, [7, 25, 35])
 n1:  7 (57.28537602187998, (7, 25, 35))
--
mpi:  8 (53.10970886393534, [8, 25, 35])
 n1:  8 (53.10970886394034, (8, 25, 35))
--
mpi:  9 (39.47863966778641, [0, 9, 10])
 n1:  9 (39.47863966778823, (0, 9, 10))
--
mpi:  10 (55.662936219038784, [10, 25, 37])
 n1:  10 (55.662936219036965, (10, 25, 37))
--
mpi:  11 (45.79035738230414, [11, 25, 35])
 n1:  11 (45.79035738230277, (11, 25, 35))
--
mpi:  12 (60.37797283558939, [0, 10, 12])
 n1:  12 (60.37797283559121, (0, 10, 12))
--
mpi:  13 (30.417553685572784, [10, 13, 25])
 n1:  13 (30.417553685576422, (10, 13, 25))
--
mpi:  14 (50.12173001074552, [10, 14, 25])
 n1:  14 (50.12173001074825, (10, 14, 25))
--
mpi:  16 (40.31585190506394, [0, 10, 16])
 n1:  16 (40.315851905065756, (0, 10, 16))
--
mpi:  17 (40.2425746181525, [17, 25, 35])
 n1:  17 (40.24257461815159, (17, 25, 35))
--
mpi:  18 (40.29944696906114, [10, 18, 25])
 n1:  18 (40.299446969064775, (10, 18, 25))
--
mpi:  19 (41.00965787012228, [10, 19, 25])
 n1:  19 (41.00965787013229, (10, 19, 25))
--
mpi:  21 (56.72082314952604, [0, 10, 21])
 n1:  21 (56.72082314952786, (0, 10, 21))
--
mpi:  22 (140.76435991787366, [22, 25, 35])
 n1:  22 (140.76435991787184, (22, 25, 35))
--
mpi:  23 (39.43881056937971, [0, 23, 35])
 n1:  23 (39.43881056938153, (0, 23, 35))
--
mpi:  24 (40.92179682594906, [0, 10, 24])
 n1:  24 (40.92179682595088, (0, 10, 24))
--
mpi:  25 (182.56591700657373, [1, 10, 25])
 n1:  25 (182.56591700656736, (1, 10, 25))
--
mpi:  26 (43.5662504557813, [0, 26, 35])
 n1:  26 (43.56625045578312, (0, 26, 35))
--
mpi:  27 (45.75471690523682, [10, 25, 27])
 n1:  27 (45.754716905242276, (10, 25, 27))
--
mpi:  28 (45.13506955187131, [0, 28, 35])
 n1:  28 (45.13506955187313, (0, 28, 35))
--
mpi:  29 (48.053949041535816, [10, 25, 29])
 n1:  29 (48.05394904154309, (10, 25, 29))
--
mpi:  31 (50.569763983667144, [0, 31, 35])
 n1:  31 (50.56976398366896, (0, 31, 35))
--
mpi:  32 (51.45557818375437, [0, 10, 32])
 n1:  32 (51.45557818375619, (0, 10, 32))
--
mpi:  33 (44.22644118302196, [0, 10, 33])
 n1:  33 (44.22644118302378, (0, 10, 33))
--
mpi:  34 (42.66152105692072, [0, 10, 34])
 n1:  34 (42.66152105692254, (0, 10, 34))
--
mpi:  35 (52.85923884667409, [46, 25, 35])
 n1:  35 (52.859238846664084, (25, 35, 46))
--
mpi:  36 (44.745710685999256, [0, 35, 36])
 n1:  36 (44.745710686001075, (0, 35, 36))
--
mpi:  37 (59.63967377742574, [10, 25, 37])
 n1:  37 (59.63967377742665, (10, 25, 37))
--
mpi:  38 (62.396376047727244, [10, 25, 38])
 n1:  38 (62.396376047728154, (10, 25, 38))
--
mpi:  39 (38.4982561774832, [10, 25, 39])
 n1:  39 (38.4982561774832, (10, 25, 39))
--
mpi:  41 (47.11049239904514, [0, 41, 35])
 n1:  41 (47.11049239904423, (0, 35, 41))
--
mpi:  42 (46.669336516872136, [0, 42, 10])
 n1:  42 (46.669336516872136, (0, 10, 42))
--
mpi:  43 (79.63669526730519, [0, 43, 10])
 n1:  43 (79.63669526730337, (0, 10, 43))
--
mpi:  44 (30.861652903449794, [44, 10, 25])
 n1:  44 (30.86165290345525, (10, 25, 44))
--
mpi:  46 (59.70417834297132, [46, 25, 35])
 n1:  46 (59.70417834296677, (25, 35, 46))
--
mpi:  47 (36.60674086513973, [47, 25, 35])
 n1:  47 (36.60674086513973, (25, 35, 47))
--
mpi:  48 (44.192342648161684, [48, 10, 25])
 n1:  48 (44.19234264816532, (10, 25, 48))
--
mpi:  49 (58.49894327114271, [0, 49, 10])
 n1:  49 (58.498943271148164, (0, 10, 49))
--
--
96
mpi:  0 (53.301027139777034, [0, 45, 28])
 n1:  0 (53.30102713977067, (0, 28, 45))
--
mpi:  1 (152.6139337392542, [1, 45, 25])
 n1:  1 (152.6139337392492, (1, 25, 45))
--
mpi:  2 (80.49715762775031, [2, 5, 35])
 n1:  2 (80.49715762774213, (2, 5, 35))
--
mpi:  3 (98.31917892975252, [3, 5, 35])
 n1:  3 (98.31917892974707, (3, 5, 35))
--
mpi:  4 (77.62447231089845, [4, 5, 10])
 n1:  4 (77.62447231089573, (4, 5, 10))
--
mpi:  5 (83.90098597572432, [5, 10, 22])
 n1:  5 (83.90098597572114, (5, 10, 22))
--
mpi:  6 (71.80466482052543, [6, 30, 35])
 n1:  6 (71.80466482051952, (6, 30, 35))
--
mpi:  7 (78.70573852787857, [5, 7, 35])
 n1:  7 (78.70573852787265, (5, 7, 35))
--
mpi:  8 (67.46848457754095, [8, 10, 30])
 n1:  8 (67.46848457754504, (8, 10, 30))
--
mpi:  9 (71.15262341645484, [0, 9, 20])
 n1:  9 (71.15262341645484, (0, 9, 20))
--
mpi:  10 (69.44795228748535, [10, 30, 38])
 n1:  10 (69.44795228748171, (10, 30, 38))
--
mpi:  11 (63.30474200904064, [5, 11, 35])
 n1:  11 (63.304742009036545, (5, 11, 35))
--
mpi:  12 (77.07008716703149, [0, 12, 20])
 n1:  12 (77.07008716703149, (0, 12, 20))
--
mpi:  13 (68.48827756029823, [5, 10, 13])
 n1:  13 (68.4882775603005, (5, 10, 13))
--
mpi:  14 (74.812655754954, [5, 10, 14])
 n1:  14 (74.81265575495536, (5, 10, 14))
--
mpi:  16 (69.80891797469667, [5, 10, 16])
 n1:  16 (69.80891797469576, (5, 10, 16))
--
mpi:  17 (68.4931280669889, [0, 17, 20])
 n1:  17 (68.4931280669889, (0, 17, 20))
--
mpi:  18 (75.67815449775117, [0, 45, 18])
 n1:  18 (75.67815449774935, (0, 18, 45))
--
mpi:  19 (64.11051276559101, [19, 20, 25])
 n1:  19 (64.11051276559056, (19, 20, 25))
--
mpi:  20 (77.49092777459919, [0, 20, 21])
 n1:  20 (77.49092777459919, (0, 20, 21))
--
mpi:  21 (84.9640224184277, [0, 20, 21])
 n1:  21 (84.9640224184277, (0, 20, 21))
--
mpi:  22 (158.18737056943155, [45, 22, 25])
 n1:  22 (158.18737056942837, (22, 25, 45))
--
mpi:  23 (45.737529241042466, [20, 23, 25])
 n1:  23 (45.73752924104656, (20, 23, 25))
--
mpi:  24 (77.87333559309081, [20, 24, 25])
 n1:  24 (77.87333559309036, (20, 24, 25))
--
mpi:  25 (196.49251449614712, [1, 45, 25])
 n1:  25 (196.49251449615667, (1, 25, 45))
--
mpi:  26 (68.95121089046825, [5, 26, 35])
 n1:  26 (68.95121089046552, (5, 26, 35))
--
mpi:  27 (79.6910746010908, [0, 20, 27])
 n1:  27 (79.6910746010908, (0, 20, 27))
--
mpi:  28 (77.40940523787049, [0, 45, 28])
 n1:  28 (77.40940523786412, (0, 28, 45))
--
mpi:  29 (68.34804003084082, [45, 25, 29])
 n1:  29 (68.34804003083627, (25, 29, 45))
--
mpi:  30 (63.014963271429224, [21, 30, 35])
 n1:  30 (63.01496327142786, (21, 30, 35))
--
mpi:  31 (68.67828464342256, [20, 25, 31])
 n1:  31 (68.67828464342301, (20, 25, 31))
--
mpi:  32 (65.32097500141572, [10, 30, 32])
 n1:  32 (65.32097500142027, (10, 30, 32))
--
mpi:  33 (70.83631865836651, [5, 33, 35])
 n1:  33 (70.83631865836378, (5, 33, 35))
--
mpi:  34 (74.64508481942721, [45, 25, 34])
 n1:  34 (74.6450848194263, (25, 34, 45))
--
mpi:  35 (79.17854885670204, [22, 30, 35])
 n1:  35 (79.17854885670567, (22, 30, 35))
--
mpi:  36 (72.6849125214203, [20, 25, 36])
 n1:  36 (72.68491252141894, (20, 25, 36))
--
mpi:  37 (71.17110130534638, [10, 30, 37])
 n1:  37 (71.17110130535275, (10, 30, 37))
--
mpi:  38 (83.99441026601471, [10, 30, 38])
 n1:  38 (83.99441026601471, (10, 30, 38))
--
mpi:  39 (66.80999309193521, [5, 10, 39])
 n1:  39 (66.80999309193658, (5, 10, 39))
--
mpi:  41 (72.66050579839248, [41, 5, 10])
 n1:  41 (72.6605057983943, (5, 10, 41))
--
mpi:  42 (62.15889566773785, [0, 42, 45])
 n1:  42 (62.15889566773785, (0, 42, 45))
--
mpi:  43 (100.2215019018031, [43, 10, 30])
 n1:  43 (100.22150190180218, (10, 30, 43))
--
mpi:  44 (65.70847975430752, [0, 44, 45])
 n1:  44 (65.70847975430752, (0, 44, 45))
--
mpi:  45 (75.10535597412945, [0, 45, 28])
 n1:  45 (75.10535597412309, (0, 28, 45))
--
mpi:  46 (67.81123758989361, [46, 30, 35])
 n1:  46 (67.81123758989361, (30, 35, 46))
--
mpi:  47 (70.43175754080767, [47, 20, 25])
 n1:  47 (70.43175754080585, (20, 25, 47))
--
mpi:  48 (71.2187445334921, [45, 48, 25])
 n1:  48 (71.21874453347846, (25, 45, 48))
--
mpi:  49 (88.92734483836921, [5, 49, 35])
 n1:  49 (88.92734483836193, (5, 35, 49))
--
--
75
mpi:  40 (36.48200275038835, [40, 15, 30])
 n1:  40 (36.48200275039699, (15, 30, 40))
--
mpi:  5 (22.935317617894725, [40, 5, 15])
 n1:  5 (22.93531761790291, (5, 15, 40))
--
mpi:  30 (40.74043717146378, [40, 15, 30])
 n1:  30 (40.74043717147242, (15, 30, 40))
--
mpi:  15 (50.100703537060326, [40, 15, 30])
 n1:  15 (50.100703537073514, (15, 30, 40))
--
--
12
mpi:  0 (4.509674896975412, [0, 25, 30])
 n1:  0 (4.509674896975412, (0, 25, 30))
--
mpi:  25 (80.28118977848317, [0, 5, 25])
 n1:  25 (80.28118977848317, (0, 5, 25))
--
mpi:  5 (4.57866111711337, [0, 5, 25])
 n1:  5 (4.57866111711337, (0, 5, 25))
--
mpi:  30 (5.586719287963206, [0, 25, 30])
 n1:  30 (5.586719287963206, (0, 25, 30))
--
--
256
mpi:  1 (252.5682007427613, [1, 43, 35])
 n1:  1 (252.56820074274833, (1, 35, 43))
--
mpi:  2 (201.14818619812104, [2, 3, 35])
 n1:  2 (201.14818619811103, (2, 3, 35))
--
mpi:  3 (264.7461674808801, [3, 10, 22])
 n1:  3 (264.7461674808678, (3, 10, 22))
--
mpi:  4 (205.35900675184803, [4, 10, 18])
 n1:  4 (205.35900675183552, (4, 10, 18))
--
mpi:  6 (211.01144082738392, [6, 7, 35])
 n1:  6 (211.01144082736823, (6, 7, 35))
--
mpi:  7 (218.964979898421, [6, 7, 35])
 n1:  7 (218.9649798984044, (6, 7, 35))
--
mpi:  8 (202.42816138684248, [8, 17, 35])
 n1:  8 (202.42816138683247, (8, 17, 35))
--
mpi:  9 (194.67826413377315, [9, 10, 33])
 n1:  9 (194.67826413375974, (9, 10, 33))
--
mpi:  10 (191.92464539917455, [3, 10, 37])
 n1:  10 (191.92464539915272, (3, 10, 37))
--
mpi:  11 (191.4360790578885, [8, 11, 35])
 n1:  11 (191.43607905787417, (8, 11, 35))
--
mpi:  12 (202.79574432046957, [8, 10, 12])
 n1:  12 (202.79574432045388, (8, 10, 12))
--
mpi:  13 (188.3534615513272, [10, 13, 16])
 n1:  13 (188.35346155132356, (10, 13, 16))
--
mpi:  14 (195.80012158074805, [41, 14, 35])
 n1:  14 (195.80012158073237, (14, 35, 41))
--
mpi:  16 (188.45866991916955, [10, 13, 16])
 n1:  16 (188.458669919165, (10, 13, 16))
--
mpi:  17 (202.76171235426773, [8, 17, 35])
 n1:  17 (202.76171235425772, (8, 17, 35))
--
mpi:  18 (198.10164879002605, [10, 17, 18])
 n1:  18 (198.10164879001695, (10, 17, 18))
--
mpi:  19 (194.34525818716702, [19, 31, 35])
 n1:  19 (194.34525818714542, (19, 31, 35))
--
mpi:  21 (197.43204074666664, [21, 35, 37])
 n1:  21 (197.4320407466455, (21, 35, 37))
--
mpi:  22 (272.55074290470566, [43, 22, 35])
 n1:  22 (272.55074290469815, (22, 35, 43))
--
mpi:  23 (139.54113462054102, [23, 28, 35])
 n1:  23 (139.54113462052555, (23, 28, 35))
--
mpi:  24 (184.01079191617282, [10, 24, 32])
 n1:  24 (184.0107919161701, (10, 24, 32))
--
mpi:  26 (188.34577631582124, [26, 29, 35])
 n1:  26 (188.3457763158035, (26, 29, 35))
--
mpi:  27 (204.08283510861474, [10, 27, 28])
 n1:  27 (204.08283510860838, (10, 27, 28))
--
mpi:  28 (206.58071172915515, [10, 27, 28])
 n1:  28 (206.58071172914333, (10, 27, 28))
--
mpi:  29 (186.83009203071379, [10, 27, 29])
 n1:  29 (186.8300920307056, (10, 27, 29))
--
mpi:  31 (204.7633831588946, [19, 31, 35])
 n1:  31 (204.76338315887938, (19, 31, 35))
--
mpi:  32 (205.92213780507063, [46, 10, 32])
 n1:  32 (205.922137805057, (10, 32, 46))
--
mpi:  33 (207.52213040722017, [7, 10, 33])
 n1:  33 (207.52213040720494, (7, 10, 33))
--
mpi:  34 (195.52007487468563, [10, 18, 34])
 n1:  34 (195.52007487468063, (10, 18, 34))
--
mpi:  35 (184.94872871184543, [7, 35, 38])
 n1:  35 (184.9487287118293, (7, 35, 38))
--
mpi:  36 (180.7520850392384, [49, 10, 36])
 n1:  36 (180.7520850392416, (10, 36, 49))
--
mpi:  37 (201.53334195161005, [3, 10, 37])
 n1:  37 (201.5333419515914, (3, 10, 37))
--
mpi:  38 (198.78321372369373, [9, 35, 38])
 n1:  38 (198.78321372367895, (9, 35, 38))
--
mpi:  39 (190.37940727954538, [10, 12, 39])
 n1:  39 (190.3794072795422, (10, 12, 39))
--
mpi:  41 (199.8016886861178, [41, 14, 35])
 n1:  41 (199.80168868609576, (14, 35, 41))
--
mpi:  42 (209.36199679420315, [42, 44, 35])
 n1:  42 (209.36199679420542, (35, 42, 44))
--
mpi:  43 (274.6792455827681, [1, 43, 35])
 n1:  43 (274.6792455827483, (1, 35, 43))
--
mpi:  44 (207.51139659095134, [42, 44, 35])
 n1:  44 (207.51139659094724, (35, 42, 44))
--
mpi:  46 (198.3746480669024, [46, 47, 35])
 n1:  46 (198.37464806690332, (35, 46, 47))
--
mpi:  47 (189.97792818787912, [46, 47, 35])
 n1:  47 (189.9779281878691, (35, 46, 47))
--
mpi:  48 (183.9408446212119, [48, 10, 27])
 n1:  48 (183.94084462120645, (10, 27, 48))
--
mpi:  49 (190.40440575611865, [49, 35, 38])
 n1:  49 (190.40440575610864, (35, 38, 49))
--
--
288
mpi:  1 (186.59961103885234, [1, 45, 20])

 n1:  30 (23.012063495372786, (5, 10, 30))
--
--
90
mpi:  20 (91.50530712091586, [15, 20, 30])
 n1:  20 (91.50530712091495, (15, 20, 30))
--
mpi:  5 (52.32810104516648, [40, 5, 45])
 n1:  5 (52.32810104516193, (5, 40, 45))
--
mpi:  40 (64.04020651221799, [40, 5, 45])
 n1:  40 (64.04020651221344, (5, 40, 45))
--
mpi:  45 (66.07779360529094, [40, 5, 45])
 n1:  45 (66.07779360528912, (5, 40, 45))
--
mpi:  30 (82.71592647941088, [15, 20, 30])
 n1:  30 (82.71592647941088, (15, 20, 30))
--
mpi:  15 (101.25374568125244, [15, 20, 30])
 n1:  15 (101.2537456812588, (15, 20, 30))
--
--
384
mpi:  1 (340.83608086499953, [1, 43, 45])
 n1:  1 (340.8360808649959, (1, 43, 45))
--
mpi:  2 (287.1714748033364, [2, 7, 45])
 n1:  2 (287.1714748033412, (2, 7, 45))
--
mpi:  3 (342.48379488310684, [1, 3, 45])
 n1:  3 (342.4837948831098, (1, 3, 45))
--
mpi:  4 (284.5437082686508, [4, 45, 46])
 n1:  4 (284.5437082686433, (4, 45, 46))
--
mpi:  6 (285.71030915570145, [6, 20, 29])
 n1:  6 (285.71030915569804, (6, 20, 29))
--
mpi:  7 (284.27238897516054, [2, 7, 45])
 n1:  7 (284.2723889751571, (2, 7, 45))
--
mpi:  8 (271.3875183818718, [8, 19, 20])
 n1:  8 (271.38751838185544, (8, 19, 20))
--
mpi:  9 (288.23021533942665, [9, 20, 38])
 n1:  9 (288.23021533941323, (9, 20, 38))
--
mpi:  11 (275.4573975015405, [45, 11, 28])
 n1:  11 (275.4573975015255, (11, 28, 45))
--
mpi:  12 (284.8427774120232, [1, 45, 12])
 n1:  12 (284.84277741201686, (1, 12, 45))
--
mpi:  13 (292.2465803047403, [45, 13, 36])
 n1:  13 (292.2465803047396, (13, 36, 45))
--
mpi:  14 (283.95119042119086, [41, 14, 20])
 n1:  14 (283.9511904211729, (14, 20, 41))
--
mpi:  16 (283.34749529622604, [43, 45, 16])
 n1:  16 (283.34749529621786, (16, 43, 45))
--
mpi:  17 (277.1792924511319, [45, 17, 36])
 n1:  17 (277.1792924511242, (17, 36, 45))
--
mpi:  18 (285.1936023655212, [18, 20, 37])
 n1:  18 (285.19360236551347, (18, 20, 37))
--
mpi:  19 (277.23711189218466, [8, 19, 20])
 n1:  19 (277.2371118921701, (8, 19, 20))
--
mpi:  20 (279.1889027723664, [12, 20, 37])
 n1:  20 (279.1889027723473, (12, 20, 37))
--
mpi:  21 (277.2770070344509, [46, 20, 21])
 n1:  21 (277.27700703444907, (20, 21, 46))
--
mpi:  22 (355.2537612017195, [3, 45, 22])
 n1:  22 (355.25376120170586, (3, 22, 45))
--
mpi:  23 (199.44156667995412, [7, 23, 45])
 n1:  23 (199.4415666799523, (7, 23, 45))
--
mpi:  24 (285.85237486920187, [45, 46, 24])
 n1:  24 (285.8523748691971, (24, 45, 46))
--
mpi:  26 (277.82650927652503, [1, 20, 26])
 n1:  26 (277.8265092765116, (1, 20, 26))
--
mpi:  27 (286.58623289455136, [45, 27, 29])
 n1:  27 (286.5862328945502, (27, 29, 45))
--
mpi:  28 (280.26074158333313, [45, 11, 28])
 n1:  28 (280.26074158331403, (11, 28, 45))
--
mpi:  29 (282.3719972841518, [45, 27, 29])
 n1:  29 (282.3719972841466, (27, 29, 45))
--
mpi:  31 (276.2517014614855, [1, 45, 31])
 n1:  31 (276.251701461483, (1, 31, 45))
--
mpi:  32 (278.973309149138, [45, 32, 38])
 n1:  32 (278.97330914912845, (32, 38, 45))
--
mpi:  33 (272.7809497940498, [45, 29, 33])
 n1:  33 (272.7809497940384, (29, 33, 45))
--
mpi:  34 (284.4039885074217, [3, 20, 34])
 n1:  34 (284.40398850740985, (3, 20, 34))
--
mpi:  36 (287.37765139543853, [45, 13, 36])
 n1:  36 (287.3776513954324, (13, 36, 45))
--
mpi:  37 (285.02937113942744, [18, 20, 37])
 n1:  37 (285.0293711394238, (18, 20, 37))
--
mpi:  38 (288.95980755262644, [45, 32, 38])
 n1:  38 (288.9598075526187, (32, 38, 45))
--
mpi:  39 (261.36895452940735, [3, 20, 39])
 n1:  39 (261.36895452939166, (3, 20, 39))
--
mpi:  41 (291.4722076561161, [41, 45, 47])
 n1:  41 (291.47220765609745, (41, 45, 47))
--
mpi:  42 (271.86605501454915, [42, 45, 16])
 n1:  42 (271.86605501453073, (16, 42, 45))
--
mpi:  43 (351.3814515889535, [1, 43, 45])
 n1:  43 (351.38145158895395, (1, 43, 45))
--
mpi:  44 (281.11899524496675, [44, 45, 32])
 n1:  44 (281.11899524495834, (32, 44, 45))
--
mpi:  45 (283.5917327498905, [45, 13, 36])
 n1:  45 (283.59173274988075, (13, 36, 45))
--
mpi:  46 (291.69192539925416, [45, 46, 24])
 n1:  46 (291.69192539924256, (24, 45, 46))
--
mpi:  47 (296.3373946296747, [41, 45, 47])
 n1:  47 (296.3373946296665, (41, 45, 47))
--
mpi:  48 (277.9477225804494, [47, 48, 20])
 n1:  48 (277.94772258043713, (20, 47, 48))
--
mpi:  49 (268.928883763087, [45, 49, 38])
 n1:  49 (268.9288837630702, (38, 45, 49))
--
--
30
mpi:  0 (11.372224134298449, [0, 40, 30])
 n1:  0 (11.372224134302996, (0, 30, 40))
--
mpi:  5 (24.630224130181887, [40, 5, 25])
 n1:  5 (24.630224130180068, (5, 25, 40))
--
mpi:  40 (29.279485952478353, [40, 5, 25])
 n1:  40 (29.279485952474715, (5, 25, 40))
--
mpi:  25 (100.64603229590466, [40, 5, 25])
 n1:  25 (100.64603229590193, (5, 25, 40))
--
mpi:  30 (25.756638245331487, [0, 15, 30])
 n1:  30 (25.756638245331487, (0, 15, 30))
--
mpi:  15 (32.88875378510602, [15, 25, 30])
 n1:  15 (32.888753785111476, (15, 25, 30))
--
--
32
mpi:  0 (22.64981232555874, [0, 2, 25])
 n1:  0 (22.64981232555374, (0, 2, 25))
--
mpi:  1 (106.06060791718119, [0, 1, 25])
 n1:  1 (106.06060791718119, (0, 1, 25))
--
mpi:  2 (26.728749534689996, [0, 2, 25])
 n1:  2 (26.728749534689996, (0, 2, 25))
--
mpi:  3 (43.866111795903635, [0, 3, 25])
 n1:  3 (43.866111795903635, (0, 3, 25))
--
mpi:  4 (21.097195215956162, [0, 4, 25])
 n1:  4 (21.097195215956162, (0, 4, 25))
--
mpi:  6 (19.245954290256122, [0, 6, 25])
 n1:  6 (19.245954290256122, (0, 6, 25))
--
mpi:  7 (16.82081280274724, [0, 7, 25])
 n1:  7 (16.82081280274724, (0, 7, 25))
--
mpi:  8 (25.605829443693437, [0, 8, 25])
 n1:  8 (25.605829443693437, (0, 8, 25))
--
mpi:  9 (18.495852532740173, [0, 9, 25])
 n1:  9 (18.495852532740173, (0, 9, 25))
--
mpi:  10 (21.670313591466766, [10, 25, 35])
 n1:  10 (21.670313591469494, (10, 25, 35))
--
mpi:  11 (16.65990947827777, [0, 11, 25])
 n1:  11 (16.65990947827777, (0, 11, 25))
--
mpi:  12 (17.264694618008434, [0, 12, 25])
 n1:  12 (17.264694618008434, (0, 12, 25))
--
mpi:  13 (14.30825100441325, [0, 13, 25])
 n1:  13 (14.30825100441325, (0, 13, 25))
--
mpi:  14 (16.219285128054253, [0, 14, 25])
 n1:  14 (16.219285128054253, (0, 14, 25))
--
mpi:  16 (18.96706968043145, [0, 16, 25])
 n1:  16 (18.96706968043145, (0, 16, 25))
--
mpi:  17 (13.611794565973469, [0, 17, 25])
 n1:  17 (13.611794565973469, (0, 17, 25))
--
mpi:  18 (22.863400368580187, [0, 18, 25])
 n1:  18 (22.863400368580187, (0, 18, 25))
--
mpi:  19 (24.65541535860939, [0, 19, 25])
 n1:  19 (24.65541535860939, (0, 19, 25))
--
mpi:  21 (27.923575775670542, [0, 21, 25])
 n1:  21 (27.923575775670542, (0, 21, 25))
--
mpi:  22 (105.89828990626665, [0, 22, 25])
 n1:  22 (105.89828990626665, (0, 22, 25))
--
mpi:  23 (7.623874512375551, [0, 23, 25])
 n1:  23 (7.623874512375551, (0, 23, 25))
--
mpi:  24 (17.111037592920184, [0, 24, 25])
 n1:  24 (17.111037592920184, (0, 24, 25))
--
mpi:  25 (171.68549503167014, [0, 1, 25])
 n1:  25 (171.68549503167014, (0, 1, 25))
--
mpi:  26 (18.624908784422587, [0, 25, 26])
 n1:  26 (18.624908784422587, (0, 25, 26))
--
mpi:  27 (19.743787172978045, [0, 25, 27])
 n1:  27 (19.743787172978045, (0, 25, 27))
--
mpi:  28 (19.710812599583733, [0, 25, 28])
 n1:  28 (19.710812599583733, (0, 25, 28))
--
mpi:  29 (18.834150546757883, [0, 25, 29])
 n1:  29 (18.834150546757883, (0, 25, 29))
--
mpi:  31 (30.7594381003546, [0, 25, 31])
 n1:  31 (30.7594381003546, (0, 25, 31))
--
mpi:  32 (19.183953976022167, [0, 25, 32])
 n1:  32 (19.183953976022167, (0, 25, 32))
--
mpi:  33 (24.975650143021994, [0, 25, 33])
 n1:  33 (24.975650143021994, (0, 25, 33))
--
mpi:  34 (19.965542718015058, [0, 25, 34])
 n1:  34 (19.965542718015058, (0, 25, 34))
--
mpi:  35 (21.314981350120433, [0, 10, 35])
 n1:  35 (21.314981350122252, (0, 10, 35))
--
mpi:  36 (23.00542102893087, [0, 25, 36])
 n1:  36 (23.00542102893087, (0, 25, 36))
--
mpi:  37 (16.299491063784444, [0, 25, 37])
 n1:  37 (16.299491063784444, (0, 25, 37))
--
mpi:  38 (36.81457531820888, [0, 25, 38])
 n1:  38 (36.81457531820888, (0, 25, 38))
--
mpi:  39 (12.363527518191404, [0, 25, 39])
 n1:  39 (12.363527518191404, (0, 25, 39))
--
mpi:  41 (24.83170830337258, [0, 41, 25])
 n1:  41 (24.83170830336894, (0, 25, 41))
--
mpi:  42 (17.347363808101363, [0, 42, 25])
 n1:  42 (17.347363808101363, (0, 25, 42))
--
mpi:  43 (44.93106727838858, [0, 43, 25])
 n1:  43 (44.93106727838676, (0, 25, 43))
--
mpi:  44 (11.049905929594388, [0, 44, 25])
 n1:  44 (11.049905929594388, (0, 25, 44))
--
mpi:  46 (22.187175231474612, [0, 46, 25])
 n1:  46 (22.18717523147643, (0, 25, 46))
--
mpi:  47 (17.93502328802606, [0, 47, 25])
 n1:  47 (17.93502328802424, (0, 25, 47))
--
mpi:  48 (21.757971459936016, [0, 48, 25])
 n1:  48 (21.757971459939654, (0, 25, 48))
--
mpi:  49 (14.542553834025966, [0, 49, 25])
 n1:  49 (14.542553834027785, (0, 25, 49))
--
--
80
mpi:  0 (44.59516368767345, [0, 40, 27])
 n1:  0 (44.59516368767163, (0, 27, 40))
--
mpi:  1 (131.7754078123853, [1, 40, 25])
 n1:  1 (131.77540781238804, (1, 25, 40))
--
mpi:  2 (56.2247592053518, [2, 15, 25])
 n1:  2 (56.224759205355895, (2, 15, 25))
--
mpi:  3 (95.85642949241537, [3, 40, 25])
 n1:  3 (95.85642949241628, (3, 25, 40))
--
mpi:  4 (68.54279905319981, [0, 4, 40])
 n1:  4 (68.54279905319981, (0, 4, 40))
--
mpi:  6 (56.418491845821336, [6, 15, 25])
 n1:  6 (56.418491845814515, (6, 15, 25))
--
mpi:  7 (47.379276851606846, [0, 7, 40])
 n1:  7 (47.379276851606846, (0, 7, 40))
--
mpi:  8 (58.32429698195119, [0, 8, 15])
 n1:  8 (58.32429698195119, (0, 8, 15))
--
mpi:  9 (54.91632060447955, [40, 9, 25])
 n1:  9 (54.916320604484554, (9, 25, 40))
--
mpi:  10 (56.55576253746494, [10, 15, 35])
 n1:  10 (56.55576253746585, (10, 15, 35))
--
mpi:  11 (61.31307001420919, [11, 15, 25])
 n1:  11 (61.31307001420737, (11, 15, 25))
--
mpi:  12 (57.96849870184269, [0, 40, 12])
 n1:  12 (57.96849870184451, (0, 12, 40))
--
mpi:  13 (38.23061597965716, [0, 13, 15])
 n1:  13 (38.23061597965716, (0, 13, 15))
--
mpi:  14 (67.80173435030883, [14, 15, 25])
 n1:  14 (67.80173435030747, (14, 15, 25))
--
mpi:  15 (69.93240496089311, [41, 15, 25])
 n1:  15 (69.9324049608922, (15, 25, 41))
--
mpi:  16 (57.20791510730032, [0, 15, 16])
 n1:  16 (57.20791510730032, (0, 15, 16))
--
mpi:  17 (53.23764307899273, [0, 15, 17])
 n1:  17 (53.23764307899273, (0, 15, 17))
--
mpi:  18 (48.81449099241854, [0, 15, 18])
 n1:  18 (48.81449099241854, (0, 15, 18))
--
mpi:  19 (56.82127784112981, [15, 19, 25])
 n1:  19 (56.821277841128904, (15, 19, 25))
--
mpi:  21 (61.76348593421608, [15, 21, 25])
 n1:  21 (61.763485934211076, (15, 21, 25))
--
mpi:  22 (138.21856298281455, [15, 22, 25])
 n1:  22 (138.21856298281637, (15, 22, 25))
--
mpi:  23 (32.62736520578619, [40, 23, 25])
 n1:  23 (32.62736520578619, (23, 25, 40))
--
mpi:  24 (53.22227084407132, [0, 15, 24])
 n1:  24 (53.22227084407132, (0, 15, 24))
--
mpi:  25 (192.60215600034098, [1, 15, 25])
 n1:  25 (192.60215600033553, (1, 15, 25))
--
mpi:  26 (56.35734896618669, [0, 40, 26])
 n1:  26 (56.35734896619215, (0, 26, 40))
--
mpi:  27 (61.216980103484275, [0, 40, 27])
 n1:  27 (61.216980103484275, (0, 27, 40))
--
mpi:  28 (57.62183845493746, [40, 25, 28])
 n1:  28 (57.62183845494201, (25, 28, 40))
--
mpi:  29 (55.235003940392744, [15, 25, 29])
 n1:  29 (55.23500394039638, (15, 25, 29))
--
mpi:  31 (63.45127234937718, [0, 40, 31])
 n1:  31 (63.451272349381725, (0, 31, 40))
--
mpi:  32 (56.03311458715598, [15, 25, 32])
 n1:  32 (56.03311458715871, (15, 25, 32))
--
mpi:  33 (50.75789008789252, [0, 40, 33])
 n1:  33 (50.75789008789343, (0, 33, 40))
--
mpi:  34 (48.36059283661962, [0, 15, 34])
 n1:  34 (48.36059283661962, (0, 15, 34))
--
mpi:  35 (65.05994353599544, [10, 15, 35])
 n1:  35 (65.05994353599363, (10, 15, 35))
--
mpi:  36 (57.84640393335667, [0, 40, 36])
 n1:  36 (57.84640393335576, (0, 36, 40))
--
mpi:  37 (54.636125123251986, [15, 25, 37])
 n1:  37 (54.63612512325244, (15, 25, 37))
--
mpi:  38 (69.13299588371865, [15, 25, 38])
 n1:  38 (69.13299588372183, (15, 25, 38))
--
mpi:  39 (63.276395141313515, [15, 25, 39])
 n1:  39 (63.27639514131215, (15, 25, 39))
--
mpi:  40 (71.64431326387785, [40, 43, 25])
 n1:  40 (71.64431326387876, (25, 40, 43))
--
mpi:  41 (72.51766590675288, [41, 15, 25])
 n1:  41 (72.51766590674924, (15, 25, 41))
--
mpi:  42 (47.66804400363253, [0, 40, 42])
 n1:  42 (47.66804400363253, (0, 40, 42))
--
mpi:  43 (101.72231885752808, [40, 43, 25])
 n1:  43 (101.72231885752717, (25, 40, 43))
--
mpi:  44 (50.30535771744508, [40, 44, 25])
 n1:  44 (50.30535771745053, (25, 40, 44))
--
mpi:  46 (50.51975871916784, [0, 46, 15])
 n1:  46 (50.51975871916693, (0, 15, 46))
--
mpi:  47 (51.59693559438438, [0, 47, 15])
 n1:  47 (51.59693559438347, (0, 15, 47))
--
mpi:  48 (62.20310070088817, [40, 48, 25])
 n1:  48 (62.20310070089363, (25, 40, 48))
--
mpi:  49 (57.60698033906465, [0, 49, 15])
 n1:  49 (57.60698033906465, (0, 15, 49))
--
--
100
mpi:  40 (56.617368607175194, [40, 10, 15])
 n1:  40 (56.6173686071661, (10, 15, 40))
--
mpi:  10 (53.807863156739586, [40, 10, 15])
 n1:  10 (53.80786315673777, (10, 15, 40))
--
mpi:  35 (60.598608933337346, [40, 15, 35])
 n1:  35 (60.598608933336436, (15, 35, 40))
--
mpi:  15 (65.4809339000758, [40, 15, 35])
 n1:  15 (65.4809339000767, (15, 35, 40))
--
--
48
mpi:  0 (28.95815134053919, [0, 4, 30])
 n1:  0 (28.958151340542372, (0, 4, 30))
--
mpi:  1 (131.22361204499975, [1, 5, 25])
 n1:  1 (131.22361204499748, (1, 5, 25))
--
mpi:  2 (39.664614739846, [0, 2, 5])
 n1:  2 (39.664614739846, (0, 2, 5))
--
mpi:  3 (88.94413098007863, [3, 5, 25])
 n1:  3 (88.9441309800768, (3, 5, 25))
--
mpi:  4 (47.939581120288494, [0, 4, 30])
 n1:  4 (47.939581120288494, (0, 4, 30))
--
mpi:  5 (86.02996448216982, [5, 22, 25])
 n1:  5 (86.02996448217618, (5, 22, 25))
--
mpi:  6 (39.2202431350961, [0, 6, 30])
 n1:  6 (39.2202431350961, (0, 6, 30))
--
mpi:  7 (34.01334060345471, [0, 7, 30])
 n1:  7 (34.01334060345471, (0, 7, 30))
--
mpi:  8 (36.003760423333006, [8, 25, 30])
 n1:  8 (36.003760423328, (8, 25, 30))
--
mpi:  9 (39.50928932646275, [9, 25, 30])
 n1:  9 (39.50928932646593, (9, 25, 30))
--
mpi:  10 (34.078116011280144, [45, 10, 25])
 n1:  10 (34.07811601127196, (10, 25, 45))
--
mpi:  11 (29.9707821622178, [0, 5, 11])
 n1:  11 (29.9707821622178, (0, 5, 11))
--
mpi:  12 (25.290946925280878, [0, 5, 12])
 n1:  12 (25.290946925280878, (0, 5, 12))
--
mpi:  13 (27.160228479318903, [0, 5, 13])
 n1:  13 (27.160228479318903, (0, 5, 13))
--
mpi:  14 (39.702549205081596, [0, 5, 14])
 n1:  14 (39.702549205081596, (0, 5, 14))
--
mpi:  16 (36.79962935585536, [0, 16, 30])
 n1:  16 (36.79962935585536, (0, 16, 30))
--
mpi:  17 (27.0535966347652, [0, 17, 30])
 n1:  17 (27.0535966347652, (0, 17, 30))
--
mpi:  18 (35.999024852117145, [5, 18, 25])
 n1:  18 (35.999024852115326, (5, 18, 25))
--
mpi:  19 (35.9952963974265, [0, 5, 19])
 n1:  19 (35.9952963974265, (0, 5, 19))
--
mpi:  20 (27.615057486451406, [10, 20, 25])
 n1:  20 (27.615057486455953, (10, 20, 25))
--
mpi:  21 (49.096295069219195, [5, 21, 25])
 n1:  21 (49.09629506922283, (5, 21, 25))
--
mpi:  22 (176.6072530249694, [5, 22, 25])
 n1:  22 (176.60725302497576, (5, 22, 25))
--
mpi:  23 (25.44532768811041, [0, 5, 23])
 n1:  23 (25.44532768811041, (0, 5, 23))
--
mpi:  24 (33.071211297881746, [5, 24, 25])
 n1:  24 (33.071211297882655, (5, 24, 25))
--
mpi:  25 (184.45141650299774, [1, 5, 25])
 n1:  25 (184.45141650299774, (1, 5, 25))
--
mpi:  26 (39.83797357082585, [0, 5, 26])
 n1:  26 (39.83797357082585, (0, 5, 26))
--
mpi:  27 (36.72271802175783, [0, 5, 27])
 n1:  27 (36.72271802175783, (0, 5, 27))
--
mpi:  28 (34.10047778191438, [25, 28, 30])
 n1:  28 (34.10047778191438, (25, 28, 30))
--
mpi:  29 (26.671464559336528, [25, 29, 30])
 n1:  29 (26.671464559336528, (25, 29, 30))
--
mpi:  30 (36.613684039986765, [25, 30, 39])
 n1:  30 (36.613684039986765, (25, 30, 39))
--
mpi:  31 (33.44701452264417, [25, 30, 31])
 n1:  31 (33.44701452264417, (25, 30, 31))
--
mpi:  32 (26.72674027269386, [0, 5, 32])
 n1:  32 (26.72674027269386, (0, 5, 32))
--
mpi:  33 (30.62104203785566, [5, 25, 33])
 n1:  33 (30.621042037857478, (5, 25, 33))
--
mpi:  34 (33.333930437267554, [25, 30, 34])
 n1:  34 (33.333930437267554, (25, 30, 34))
--
mpi:  35 (29.49972454148883, [5, 10, 35])
 n1:  35 (29.499724541496107, (5, 10, 35))
--
mpi:  36 (32.91863222522079, [25, 30, 36])
 n1:  36 (32.91863222522079, (25, 30, 36))
--
mpi:  37 (34.742381222340555, [0, 5, 37])
 n1:  37 (34.742381222340555, (0, 5, 37))
--
mpi:  38 (43.138925837329225, [5, 25, 38])
 n1:  38 (43.138925837328316, (5, 25, 38))
--
mpi:  39 (39.45219155563245, [25, 30, 39])
 n1:  39 (39.45219155563245, (25, 30, 39))
--
mpi:  41 (50.32829884492821, [41, 5, 25])
 n1:  41 (50.32829884493185, (5, 25, 41))
--
mpi:  42 (35.17165912936798, [42, 5, 25])
 n1:  42 (35.17165912937162, (5, 25, 42))
--
mpi:  43 (89.74753287764725, [43, 5, 25])
 n1:  43 (89.74753287765088, (5, 25, 43))
--
mpi:  44 (32.61004839877023, [0, 44, 30])
 n1:  44 (32.61004839877205, (0, 30, 44))
--
mpi:  45 (31.23978796753181, [45, 10, 25])
 n1:  45 (31.23978796753181, (10, 25, 45))
--
mpi:  46 (32.32987060753112, [46, 25, 30])
 n1:  46 (32.329870607523844, (25, 30, 46))
--
mpi:  47 (32.294521242754854, [47, 25, 30])
 n1:  47 (32.2945212427494, (25, 30, 47))
--
mpi:  48 (36.71449198101254, [48, 25, 30])
 n1:  48 (36.71449198100527, (25, 30, 48))
--
mpi:  49 (41.907811606324685, [0, 5, 49])
 n1:  49 (41.907811606324685, (0, 5, 49))
--
--
40
mpi:  0 (20.302562074663, [0, 10, 15])
 n1:  0 (20.302562074657544, (0, 10, 15))
--
mpi:  35 (31.832367318429533, [15, 25, 35])
 n1:  35 (31.832367318427714, (15, 25, 35))
--
mpi:  40 (30.682019248473807, [40, 25, 35])
 n1:  40 (30.682019248475626, (25, 35, 40))
--
mpi:  25 (101.47302985387978, [40, 10, 25])
 n1:  25 (101.47302985388615, (10, 25, 40))
--
mpi:  10 (30.070570738917013, [40, 10, 25])
 n1:  10 (30.070570738928836, (10, 25, 40))
--
mpi:  15 (40.66881914935584, [15, 25, 35])
 n1:  15 (40.66881914935675, (15, 25, 35))
--
--
144
mpi:  1 (118.18055574021582, [1, 5, 45])
 n1:  1 (118.18055574020855, (1, 5, 45))
--
mpi:  2 (108.08740430602484, [2, 20, 30])
 n1:  2 (108.0874043060312, (2, 20, 30))
--
mpi:  3 (112.04477746140765, [3, 45, 30])
 n1:  3 (112.04477746139855, (3, 30, 45))
--
mpi:  4 (111.70907281738255, [4, 45, 30])
 n1:  4 (111.70907281736982, (4, 30, 45))
--
mpi:  5 (109.70892277154053, [5, 22, 45])
 n1:  5 (109.70892277154053, (5, 22, 45))
--
mpi:  6 (96.99972748379605, [5, 6, 20])
 n1:  6 (96.99972748379241, (5, 6, 20))
--
mpi:  7 (102.23961486361168, [5, 7, 20])
 n1:  7 (102.23961486360804, (5, 7, 20))
--
mpi:  8 (92.46694881845269, [8, 30, 45])
 n1:  8 (92.46694881844633, (8, 30, 45))
--
mpi:  9 (107.82751562350131, [9, 20, 30])
 n1:  9 (107.82751562350677, (9, 20, 30))
--
mpi:  10 (71.725389418144, [45, 10, 20])
 n1:  10 (71.72538941814264, (10, 20, 45))
--
mpi:  11 (89.445864116532, [5, 11, 45])
 n1:  11 (89.44586411653336, (5, 11, 45))
--
mpi:  12 (104.73525872491336, [45, 12, 30])
 n1:  12 (104.73525872491018, (12, 30, 45))
--
mpi:  13 (103.25680918163198, [5, 13, 45])
 n1:  13 (103.2568091816238, (5, 13, 45))
--
mpi:  14 (107.38118807926276, [5, 14, 20])
 n1:  14 (107.3811880792573, (5, 14, 20))
--
mpi:  16 (97.12520056994435, [16, 20, 30])
 n1:  16 (97.12520056994617, (16, 20, 30))
--
mpi:  17 (114.52100929888093, [17, 20, 30])
 n1:  17 (114.52100929888184, (17, 20, 30))
--
mpi:  18 (117.85354450672276, [18, 20, 30])
 n1:  18 (117.85354450672457, (18, 20, 30))
--
mpi:  19 (99.20482812963746, [5, 19, 20])
 n1:  19 (99.20482812963746, (5, 19, 20))
--
mpi:  20 (113.46251234188367, [17, 20, 30])
 n1:  20 (113.46251234187548, (17, 20, 30))
--
mpi:  21 (123.68183215329373, [5, 20, 21])
 n1:  21 (123.68183215329054, (5, 20, 21))
--
mpi:  22 (162.47373139578121, [5, 22, 45])
 n1:  22 (162.4737313957762, (5, 22, 45))
--
mpi:  23 (73.02177076926182, [20, 23, 30])
 n1:  23 (73.02177076926546, (20, 23, 30))
--
mpi:  24 (105.53705136500503, [5, 20, 24])
 n1:  24 (105.53705136500321, (5, 20, 24))
--
mpi:  26 (107.64817093646616, [5, 20, 26])
 n1:  26 (107.64817093645433, (5, 20, 26))
--
mpi:  27 (113.95552010322808, [5, 20, 27])

mpi:  31 (163.79917197771374, [40, 45, 31])
 n1:  31 (163.79917197769646, (31, 40, 45))
--
mpi:  32 (172.57846361687734, [45, 15, 32])
 n1:  32 (172.5784636168587, (15, 32, 45))
--
mpi:  33 (164.30315324624007, [40, 45, 33])
 n1:  33 (164.30315324622188, (33, 40, 45))
--
mpi:  34 (186.22205768402182, [15, 20, 34])
 n1:  34 (186.22205768401045, (15, 20, 34))
--
mpi:  36 (183.4285685581608, [15, 20, 36])
 n1:  36 (183.42856855815262, (15, 20, 36))
--
mpi:  37 (172.24537358570615, [15, 20, 37])
 n1:  37 (172.24537358569796, (15, 20, 37))
--
mpi:  38 (170.02806125764164, [45, 15, 38])
 n1:  38 (170.02806125763118, (15, 38, 45))
--
mpi:  39 (149.9781631384194, [40, 45, 39])
 n1:  39 (149.9781631383953, (39, 40, 45))
--
mpi:  40 (177.71077779934058, [40, 45, 48])
 n1:  40 (177.71077779933375, (40, 45, 48))
--
mpi:  41 (184.694675354609, [41, 15, 20])
 n1:  41 (184.694675354604, (15, 20, 41))
--
mpi:  42 (156.45936795014768, [40, 42, 45])
 n1:  42 (156.4593679501295, (40, 42, 45))
--
mpi:  43 (199.4339347874029, [43, 45, 15])
 n1:  43 (199.43393478738926, (15, 43, 45))
--
mpi:  44 (159.30805786581004, [40, 44, 20])
 n1:  44 (159.3080578658014, (20, 40, 44))
--
mpi:  45 (177.6615256859659, [40, 45, 28])
 n1:  45 (177.66152568595703, (28, 40, 45))
--
mpi:  46 (161.3392631191491, [40, 46, 20])
 n1:  46 (161.33926311913729, (20, 40, 46))
--
mpi:  47 (150.65009958866267, [47, 15, 20])
 n1:  47 (150.65009958865767, (15, 20, 47))
--
mpi:  48 (190.1320185541499, [40, 45, 48])
 n1:  48 (190.13201855413763, (40, 45, 48))
--
mpi:  49 (165.64627583167294, [45, 49, 15])
 n1:  49 (165.64627583166157, (15, 45, 49))
--
--
200
mpi:  1 (143.06342775830944, [1, 40, 15])
 n1:  1 (143.0634277583008, (1, 15, 40))
--
mpi:  2 (131.7391538169004, [2, 40, 15])
 n1:  2 (131.7391538168904, (2, 15, 40))
--
mpi:  3 (191.46683503039912, [3, 40, 15])
 n1:  3 (191.46683503039412, (3, 15, 40))
--
mpi:  4 (143.33163560390585, [4, 40, 15])
 n1:  4 (143.33163560389858, (4, 15, 40))
--
mpi:  6 (159.14900083230623, [40, 6, 15])
 n1:  6 (159.1490008322926, (6, 15, 40))
--
mpi:  7 (114.13282744123353, [40, 7, 15])
 n1:  7 (114.13282744122534, (7, 15, 40))
--
mpi:  8 (131.98092709045613, [40, 8, 15])
 n1:  8 (131.98092709044795, (8, 15, 40))
--
mpi:  9 (142.18626809103898, [40, 9, 15])
 n1:  9 (142.1862680910308, (9, 15, 40))
--
mpi:  11 (132.0979870006122, [40, 11, 15])
 n1:  11 (132.09798700060446, (11, 15, 40))
--
mpi:  12 (141.0859448135525, [40, 12, 15])
 n1:  12 (141.08594481353884, (12, 15, 40))
--
mpi:  13 (100.66068220224042, [40, 13, 15])
 n1:  13 (100.66068220222905, (13, 15, 40))
--
mpi:  14 (130.4488773809453, [40, 14, 15])
 n1:  14 (130.44887738093985, (14, 15, 40))
--
mpi:  15 (154.97461668403866, [3, 40, 15])
 n1:  15 (154.97461668402957, (3, 15, 40))
--
mpi:  16 (116.79049635541014, [40, 15, 16])
 n1:  16 (116.79049635541196, (15, 16, 40))
--
mpi:  17 (135.5092819345782, [40, 15, 17])
 n1:  17 (135.5092819345764, (15, 17, 40))
--
mpi:  18 (140.0865931344597, [40, 15, 18])
 n1:  18 (140.08659313445514, (15, 18, 40))
--
mpi:  19 (136.36310657401827, [40, 15, 19])
 n1:  19 (136.36310657400782, (15, 19, 40))
--
mpi:  21 (127.75409844587739, [40, 15, 21])
 n1:  21 (127.7540984458733, (15, 21, 40))
--
mpi:  22 (154.02194970015444, [40, 15, 22])
 n1:  22 (154.02194970014443, (15, 22, 40))
--
mpi:  23 (93.40524515776451, [40, 15, 23])
 n1:  23 (93.40524515776315, (15, 23, 40))
--
mpi:  24 (113.97432976305026, [40, 15, 24])
 n1:  24 (113.9743297630398, (15, 24, 40))
--
mpi:  26 (131.46419805221558, [40, 15, 26])
 n1:  26 (131.4641980522033, (15, 26, 40))
--
mpi:  27 (93.37055474304088, [40, 15, 27])
 n1:  27 (93.37055474303179, (15, 27, 40))
--
mpi:  28 (143.79524916812807, [40, 15, 28])
 n1:  28 (143.79524916812352, (15, 28, 40))
--
mpi:  29 (122.46693423763827, [40, 15, 29])
 n1:  29 (122.46693423763327, (15, 29, 40))
--
mpi:  31 (131.21334752404528, [40, 15, 31])
 n1:  31 (131.21334752403027, (15, 31, 40))
--
mpi:  32 (119.01344476987288, [40, 15, 32])
 n1:  32 (119.01344476986651, (15, 32, 40))
--
mpi:  33 (120.56104471629988, [40, 15, 33])
 n1:  33 (120.56104471629669, (15, 33, 40))
--
mpi:  34 (111.17408739278835, [40, 15, 34])
 n1:  34 (111.17408739277971, (15, 34, 40))
--
mpi:  36 (135.74335525177685, [40, 15, 36])
 n1:  36 (135.74335525177366, (15, 36, 40))
--
mpi:  37 (110.60932833453262, [40, 15, 37])
 n1:  37 (110.60932833452762, (15, 37, 40))
--
mpi:  38 (114.53136639146851, [40, 15, 38])
 n1:  38 (114.53136639146442, (15, 38, 40))
--
mpi:  39 (121.11111515833, [40, 15, 39])
 n1:  39 (121.11111515831908, (15, 39, 40))
--
mpi:  40 (153.8109051016354, [3, 40, 15])
 n1:  40 (153.8109051016313, (3, 15, 40))
--
mpi:  41 (134.00884751103786, [40, 41, 15])
 n1:  41 (134.0088475110365, (15, 40, 41))
--
mpi:  42 (125.22127957797056, [40, 42, 15])
 n1:  42 (125.2212795779651, (15, 40, 42))
--
mpi:  43 (189.83989432942053, [40, 43, 15])
 n1:  43 (189.8398943294137, (15, 40, 43))
--
mpi:  44 (122.20943560799424, [40, 44, 15])
 n1:  44 (122.2094356079815, (15, 40, 44))
--
mpi:  46 (123.8149383685759, [40, 46, 15])
 n1:  46 (123.81493836856771, (15, 40, 46))
--
mpi:  47 (113.01496556866914, [40, 47, 15])
 n1:  47 (113.0149655686555, (15, 40, 47))
--
mpi:  48 (133.77254142138554, [40, 48, 15])
 n1:  48 (133.77254142138418, (15, 40, 48))
--
mpi:  49 (125.24984022298577, [40, 49, 15])
 n1:  49 (125.24984022297986, (15, 40, 49))
--
--
50
mpi:  0 (17.946269471751293, [0, 40, 15])
 n1:  0 (17.946269471747655, (0, 15, 40))
--
mpi:  40 (39.969549287583504, [40, 15, 25])
 n1:  40 (39.969549287584414, (15, 25, 40))
--
mpi:  15 (43.52331686980688, [40, 15, 25])
 n1:  15 (43.523316869812334, (15, 25, 40))
--
mpi:  25 (108.35119134125307, [40, 15, 25])
 n1:  25 (108.35119134125853, (15, 25, 40))
--
--
180
mpi:  40 (104.58149137801956, [40, 45, 20])
 n1:  40 (104.58149137801274, (20, 40, 45))
--
mpi:  20 (117.30733811187292, [45, 15, 20])
 n1:  20 (117.30733811186474, (15, 20, 45))
--
mpi:  45 (112.38388476642103, [40, 45, 20])
 n1:  45 (112.38388476641512, (20, 40, 45))
--
mpi:  15 (106.6121203524026, [45, 15, 20])
 n1:  15 (106.6121203523926, (15, 20, 45))
--
--
54
mpi:  20 (29.168707528195227, [5, 20, 30])
 n1:  20 (29.168707528195227, (5, 20, 30))
--
mpi:  5 (20.619620691439195, [5, 20, 30])
 n1:  5 (20.619620691451928, (5, 20, 30))
--
mpi:  30 (24.37623427217477, [5, 20, 30])
 n1:  30 (24.3762342721775, (5, 20, 30))
--
mpi:  45 (21.91385598823581, [5, 30, 45])
 n1:  45 (21.9138559882349, (5, 30, 45))
--
--
120
mpi:  1 (92.49808557171673, [1, 5, 15])
 n1:  1 (92.49808557171218, (1, 5, 15))
--
mpi:  2 (86.03758798187027, [2, 5, 15])
 n1:  2 (86.03758798186163, (2, 5, 15))
--
mpi:  3 (115.0574489871633, [3, 40, 30])
 n1:  3 (115.05744898716284, (3, 30, 40))
--
mpi:  4 (85.93875143096284, [4, 5, 15])
 n1:  4 (85.93875143095784, (4, 5, 15))
--
mpi:  5 (98.56177852716246, [40, 5, 22])
 n1:  5 (98.5617785271611, (5, 22, 40))
--
mpi:  6 (84.2463349015452, [5, 6, 15])
 n1:  6 (84.24633490154429, (5, 6, 15))
--
mpi:  7 (94.27475463367136, [40, 5, 7])
 n1:  7 (94.27475463367728, (5, 7, 40))
--
mpi:  8 (82.72643702400819, [40, 8, 30])
 n1:  8 (82.7264370240091, (8, 30, 40))
--
mpi:  9 (93.32160396725249, [5, 9, 15])
 n1:  9 (93.32160396725158, (5, 9, 15))
--
mpi:  10 (83.65841482982887, [45, 10, 15])
 n1:  10 (83.65841482983251, (10, 15, 45))
--
mpi:  11 (74.02245611916442, [11, 15, 30])
 n1:  11 (74.0224561191576, (11, 15, 30))
--
mpi:  12 (85.97632466814957, [5, 12, 15])
 n1:  12 (85.97632466814457, (5, 12, 15))
--
mpi:  13 (65.1009384189465, [5, 13, 15])
 n1:  13 (65.10093841894422, (5, 13, 15))
--
mpi:  14 (91.52082677847011, [5, 14, 15])
 n1:  14 (91.52082677846329, (5, 14, 15))
--
mpi:  15 (98.71884500937176, [41, 15, 30])
 n1:  15 (98.71884500936903, (15, 30, 41))
--
mpi:  16 (91.76558231992658, [15, 16, 30])
 n1:  16 (91.76558231992931, (15, 16, 30))
--
mpi:  17 (78.13374015933914, [40, 17, 30])
 n1:  17 (78.13374015934141, (17, 30, 40))
--
mpi:  18 (77.41104888525842, [15, 18, 30])
 n1:  18 (77.41104888525842, (15, 18, 30))
--
mpi:  19 (80.11782346422478, [15, 19, 30])
 n1:  19 (80.1178234642257, (15, 19, 30))
--
mpi:  20 (80.56312519515359, [15, 20, 35])
 n1:  20 (80.5631251951495, (15, 20, 35))
--
mpi:  21 (98.8851667304325, [5, 15, 21])
 n1:  21 (98.88516673043205, (5, 15, 21))
--
mpi:  22 (145.9935453347207, [40, 5, 22])
 n1:  22 (145.9935453347216, (5, 22, 40))
--
mpi:  23 (55.374349650965996, [15, 23, 30])
 n1:  23 (55.374349650967815, (15, 23, 30))
--
mpi:  24 (75.6199900695874, [5, 15, 24])
 n1:  24 (75.61999006958195, (5, 15, 24))
--
mpi:  26 (94.12670494482973, [40, 5, 26])
 n1:  26 (94.12670494482336, (5, 26, 40))
--
mpi:  27 (74.84892255953218, [5, 15, 27])
 n1:  27 (74.84892255952855, (5, 15, 27))
--
mpi:  28 (105.29398436154952, [40, 28, 30])
 n1:  28 (105.29398436153997, (28, 30, 40))
--
mpi:  29 (84.87931316648337, [15, 29, 30])
 n1:  29 (84.879313166482, (15, 29, 30))
--
mpi:  30 (86.21143331290568, [15, 16, 30])
 n1:  30 (86.21143331290386, (15, 16, 30))
--
mpi:  31 (94.80226543828849, [40, 5, 31])
 n1:  31 (94.80226543828985, (5, 31, 40))
--
mpi:  32 (73.94593104044634, [40, 30, 32])
 n1:  32 (73.94593104045134, (30, 32, 40))
--
mpi:  33 (76.64309188544394, [5, 15, 33])
 n1:  33 (76.64309188543893, (5, 15, 33))
--
mpi:  34 (83.09365790662378, [5, 15, 34])
 n1:  34 (83.09365790661741, (5, 15, 34))
--
mpi:  35 (73.20998568066807, [15, 20, 35])
 n1:  35 (73.20998568066943, (15, 20, 35))
--
mpi:  36 (82.11391029262995, [40, 5, 36])
 n1:  36 (82.11391029263041, (5, 36, 40))
--
mpi:  37 (78.60683894455815, [5, 15, 37])
 n1:  37 (78.60683894455224, (5, 15, 37))
--
mpi:  38 (94.90662062213141, [5, 15, 38])
 n1:  38 (94.90662062212823, (5, 15, 38))
--
mpi:  39 (89.61450926099678, [5, 15, 39])
 n1:  39 (89.61450926099951, (5, 15, 39))
--
mpi:  40 (98.52728549490348, [40, 28, 30])
 n1:  40 (98.52728549487892, (28, 30, 40))
--
mpi:  41 (105.68643562770376, [41, 5, 15])
 n1:  41 (105.68643562770285, (5, 15, 41))
--
mpi:  42 (86.23787205384087, [40, 42, 30])
 n1:  42 (86.23787205384724, (30, 40, 42))
--
mpi:  43 (125.15311291351736, [40, 43, 5])
 n1:  43 (125.153112913516, (5, 40, 43))
--
mpi:  44 (76.31375169912008, [44, 15, 30])
 n1:  44 (76.31375169911644, (15, 30, 44))
--
mpi:  45 (83.64699034358546, [45, 10, 15])
 n1:  45 (83.64699034358273, (10, 15, 45))
--
mpi:  46 (82.8534653573206, [40, 46, 30])
 n1:  46 (82.85346535732197, (30, 40, 46))
--
mpi:  47 (80.06642978363288, [47, 15, 30])
 n1:  47 (80.06642978363243, (15, 30, 47))
--
mpi:  48 (90.3204306665184, [40, 5, 48])
 n1:  48 (90.32043066651795, (5, 40, 48))
--
mpi:  49 (93.51667002017439, [5, 15, 49])
 n1:  49 (93.51667002016939, (5, 15, 49))
--
--
160
mpi:  1 (133.2356642335808, [1, 40, 35])
 n1:  1 (133.2356642335826, (1, 35, 40))
--
mpi:  2 (126.01215707494612, [2, 15, 35])
 n1:  2 (126.01215707493793, (2, 15, 35))
--
mpi:  3 (150.1919360298134, [3, 40, 35])
 n1:  3 (150.19193602980476, (3, 35, 40))
--
mpi:  4 (115.64887212748818, [4, 40, 35])
 n1:  4 (115.64887212748636, (4, 35, 40))
--
mpi:  6 (117.91063013623352, [6, 15, 35])
 n1:  6 (117.91063013622079, (6, 15, 35))
--
mpi:  7 (120.71719498027687, [40, 7, 35])
 n1:  7 (120.71719498027232, (7, 35, 40))
--
mpi:  8 (101.6177355266691, [40, 8, 10])
 n1:  8 (101.61773552665727, (8, 10, 40))
--
mpi:  9 (115.72723423438401, [9, 10, 15])
 n1:  9 (115.72723423437355, (9, 10, 15))
--
mpi:  10 (118.64149617789099, [10, 15, 32])
 n1:  10 (118.64149617788644, (10, 15, 32))
--
mpi:  11 (130.97667007043492, [11, 15, 35])
 n1:  11 (130.97667007043128, (11, 15, 35))
--
mpi:  12 (103.05150955705085, [10, 12, 15])
 n1:  12 (103.05150955704357, (10, 12, 15))
--
mpi:  13 (113.02948340624425, [40, 13, 35])
 n1:  13 (113.02948340624062, (13, 35, 40))
--
mpi:  14 (109.61976596584918, [14, 15, 35])
 n1:  14 (109.61976596583372, (14, 15, 35))
--
mpi:  15 (139.22609319167805, [15, 19, 35])
 n1:  15 (139.22609319167577, (15, 19, 35))
--
mpi:  16 (100.41352087447103, [40, 10, 16])
 n1:  16 (100.41352087447058, (10, 16, 40))
--
mpi:  17 (112.88858675426673, [40, 17, 35])
 n1:  17 (112.88858675425854, (17, 35, 40))
--
mpi:  18 (107.393384778763, [15, 18, 35])
 n1:  18 (107.39338477875572, (15, 18, 35))
--
mpi:  19 (129.94492310194892, [15, 19, 35])
 n1:  19 (129.94492310194437, (15, 19, 35))
--
mpi:  21 (101.25795520035444, [10, 15, 21])
 n1:  21 (101.25795520034308, (10, 15, 21))
--
mpi:  22 (163.30268840215376, [15, 22, 35])
 n1:  22 (163.30268840214558, (15, 22, 35))
--
mpi:  23 (84.75320881865719, [15, 23, 35])
 n1:  23 (84.75320881865582, (15, 23, 35))
--
mpi:  24 (118.70928578025814, [40, 24, 35])
 n1:  24 (118.70928578025269, (24, 35, 40))
--
mpi:  26 (113.84794553709798, [15, 26, 35])
 n1:  26 (113.84794553709025, (15, 26, 35))
--
mpi:  27 (100.46642733221051, [40, 27, 35])
 n1:  27 (100.4664273322096, (27, 35, 40))
--
mpi:  28 (106.83772092125218, [10, 15, 28])
 n1:  28 (106.83772092124354, (10, 15, 28))
--
mpi:  29 (118.23431173509653, [10, 15, 29])
 n1:  29 (118.23431173509016, (10, 15, 29))
--
mpi:  31 (121.93201556420354, [40, 31, 35])
 n1:  31 (121.93201556420627, (31, 35, 40))
--
mpi:  32 (133.70680634490327, [10, 15, 32])
 n1:  32 (133.706806344896, (10, 15, 32))
--
mpi:  33 (118.23236443158203, [40, 10, 33])
 n1:  33 (118.23236443157566, (10, 33, 40))
--
mpi:  34 (117.91386460025478, [40, 10, 34])
 n1:  34 (117.91386460024933, (10, 34, 40))
--
mpi:  35 (138.00998786821674, [15, 22, 35])
 n1:  35 (138.0099878682131, (15, 22, 35))
--
mpi:  36 (114.91311388033137, [40, 35, 36])
 n1:  36 (114.91311388033864, (35, 36, 40))
--
mpi:  37 (106.21866110131668, [40, 10, 37])
 n1:  37 (106.21866110131077, (10, 37, 40))
--
mpi:  38 (127.8245009638058, [15, 35, 38])
 n1:  38 (127.82450096379716, (15, 35, 38))
--
mpi:  39 (122.7913249113999, [15, 35, 39])
 n1:  39 (122.79132491138535, (15, 35, 39))
--
mpi:  40 (120.06609134997507, [1, 40, 35])
 n1:  40 (120.06609134997097, (1, 35, 40))
--
mpi:  41 (121.08082395699967, [41, 15, 35])
 n1:  41 (121.08082395698966, (15, 35, 41))
--
mpi:  42 (111.31955619029304, [42, 10, 15])
 n1:  42 (111.31955619028804, (10, 15, 42))
--
mpi:  43 (145.46613796358906, [40, 43, 10])
 n1:  43 (145.46613796357997, (10, 40, 43))
--
mpi:  44 (93.1045341743993, [44, 15, 35])
 n1:  44 (93.10453417438475, (15, 35, 44))
--
mpi:  46 (108.61393891682474, [46, 10, 15])
 n1:  46 (108.61393891681519, (10, 15, 46))
--
mpi:  47 (117.52339629261587, [47, 15, 35])
 n1:  47 (117.52339629261087, (15, 35, 47))
--
mpi:  48 (126.25757547389821, [40, 48, 35])
 n1:  48 (126.25757547389776, (35, 40, 48))
--
mpi:  49 (135.28413348261438, [49, 15, 35])
 n1:  49 (135.2841334826103, (15, 35, 49))
--
--
60
mpi:  0 (26.927795082945522, [0, 45, 15])
 n1:  0 (26.92779508295007, (0, 15, 45))
--
mpi:  35 (51.6551605026998, [15, 30, 35])
 n1:  35 (51.655160502707986, (15, 30, 35))
--
mpi:  20 (45.46247073957056, [0, 15, 20])
 n1:  20 (45.46247073957056, (0, 15, 20))
--
mpi:  5 (31.54723160477988, [40, 5, 35])
 n1:  5 (31.54723160478443, (5, 35, 40))
--
mpi:  40 (37.78226545166399, [40, 5, 35])
 n1:  40 (37.78226545166308, (5, 35, 40))
--
mpi:  25 (109.35952869032735, [45, 15, 25])
 n1:  25 (109.35952869032826, (15, 25, 45))
--
mpi:  10 (36.96505481915119, [10, 15, 30])
 n1:  10 (36.96505481915847, (10, 15, 30))
--
mpi:  45 (38.156956699978764, [45, 15, 25])
 n1:  45 (38.156956699976035, (15, 25, 45))
--
mpi:  30 (50.21891937568034, [15, 30, 35])
 n1:  30 (50.21891937568398, (15, 30, 35))
--
mpi:  15 (65.38008324560178, [15, 30, 35])
 n1:  15 (65.38008324560724, (15, 30, 35))
--
--
192
mpi:  1 (257.3153588098603, [1, 5, 43])
 n1:  1 (257.31535880985007, (1, 5, 43))
--
mpi:  2 (155.67845414678686, [2, 20, 35])
 n1:  2 (155.67845414677322, (2, 20, 35))
--
mpi:  3 (265.69708872251795, [1, 3, 5])
 n1:  3 (265.6970887225111, (1, 3, 5))
--
mpi:  4 (157.93406686813796, [4, 30, 33])
 n1:  4 (157.93406686812568, (4, 30, 33))
--
mpi:  5 (180.7573833502256, [43, 5, 22])
 n1:  5 (180.75738335022243, (5, 22, 43))
--
mpi:  6 (157.7850906167805, [5, 6, 22])
 n1:  6 (157.7850906167705, (5, 6, 22))
--
mpi:  7 (160.54801992506964, [42, 5, 7])
 n1:  7 (160.54801992506555, (5, 7, 42))
--
mpi:  8 (152.84855436989073, [8, 13, 30])
 n1:  8 (152.84855436986982, (8, 13, 30))
--
mpi:  9 (158.35001947116234, [44, 5, 9])
 n1:  9 (158.35001947115506, (5, 9, 44))
--
mpi:  10 (138.08910157716946, [45, 10, 14])
 n1:  10 (138.0891015771649, (10, 14, 45))
--
mpi:  11 (144.04808328304352, [41, 5, 11])
 n1:  11 (144.0480832830408, (5, 11, 41))
--
mpi:  12 (150.78837543548798, [45, 10, 12])
 n1:  12 (150.78837543548207, (10, 12, 45))
--
mpi:  13 (156.1933620775535, [5, 13, 26])
 n1:  13 (156.19336207755305, (5, 13, 26))
--
mpi:  14 (158.7671151233717, [44, 5, 14])
 n1:  14 (158.7671151233635, (5, 14, 44))
--
mpi:  16 (147.8828751873998, [16, 30, 36])
 n1:  16 (147.88287518739298, (16, 30, 36))
--
mpi:  17 (163.49971233327233, [17, 28, 30])
 n1:  17 (163.49971233325505, (17, 28, 30))
--
mpi:  18 (151.83153610478894, [6, 18, 30])
 n1:  18 (151.83153610478166, (6, 18, 30))
--
mpi:  19 (148.36709994956254, [4, 5, 19])
 n1:  19 (148.36709994954617, (4, 5, 19))
--
mpi:  20 (139.84600451256938, [9, 10, 20])
 n1:  20 (139.84600451256802, (9, 10, 20))
--
mpi:  21 (166.65125605542744, [5, 21, 27])
 n1:  21 (166.65125605541425, (5, 21, 27))
--
mpi:  22 (278.0712030520599, [43, 5, 22])
 n1:  22 (278.07120305206035, (5, 22, 43))
--
mpi:  23 (115.82112608443549, [5, 7, 23])
 n1:  23 (115.82112608443003, (5, 7, 23))
--
mpi:  24 (150.405380732499, [1, 5, 24])
 n1:  24 (150.40538073248672, (1, 5, 24))
--
mpi:  26 (166.58662406398162, [5, 13, 26])
 n1:  26 (166.58662406397843, (5, 13, 26))
--
mpi:  27 (152.3790915044192, [49, 27, 30])
 n1:  27 (152.37909150441374, (27, 30, 49))
--
mpi:  28 (165.3376520165857, [17, 28, 30])
 n1:  28 (165.3376520165748, (17, 28, 30))
--
mpi:  29 (145.75077085871726, [27, 29, 30])
 n1:  29 (145.75077085870998, (27, 29, 30))
--
mpi:  30 (131.47841504989628, [46, 47, 30])
 n1:  30 (131.47841504989765, (30, 46, 47))
--
mpi:  31 (149.72231982422636, [5, 17, 31])
 n1:  31 (149.72231982421908, (5, 17, 31))
--
mpi:  32 (145.52629064270877, [44, 30, 32])
 n1:  32 (145.52629064270286, (30, 32, 44))
--
mpi:  33 (146.62354088864686, [1, 5, 33])
 n1:  33 (146.6235408886355, (1, 5, 33))
--
mpi:  34 (151.38082998150276, [5, 28, 34])
 n1:  34 (151.3808299814914, (5, 28, 34))
--
mpi:  35 (132.43285215881315, [2, 45, 35])
 n1:  35 (132.43285215880678, (2, 35, 45))
--
mpi:  36 (146.95224061149474, [16, 30, 36])
 n1:  36 (146.95224061148656, (16, 30, 36))
--
mpi:  37 (150.72862400673966, [13, 30, 37])
 n1:  37 (150.72862400673193, (13, 30, 37))
--
mpi:  38 (155.23296264092642, [45, 35, 38])
 n1:  38 (155.23296264092414, (35, 38, 45))
--
mpi:  39 (147.82497812943984, [5, 12, 39])
 n1:  39 (147.82497812943484, (5, 12, 39))
--
mpi:  41 (162.25341062379084, [41, 22, 30])
 n1:  41 (162.2534106237922, (22, 30, 41))
--
mpi:  42 (156.21819879586747, [42, 5, 7])
 n1:  42 (156.21819879586246, (5, 7, 42))
--
mpi:  43 (284.90038284337516, [1, 5, 43])
 n1:  43 (284.90038284336356, (1, 5, 43))
--
mpi:  44 (151.65351171126258, [44, 5, 9])
 n1:  44 (151.6535117112553, (5, 9, 44))
--
mpi:  45 (146.2833827342356, [45, 10, 14])
 n1:  45 (146.28338273422787, (10, 14, 45))
--
mpi:  46 (156.19445083595747, [46, 47, 30])
 n1:  46 (156.19445083594928, (30, 46, 47))
--
mpi:  47 (153.42770847097563, [46, 47, 30])
 n1:  47 (153.42770847097017, (30, 46, 47))
--
mpi:  48 (141.0188646581455, [5, 14, 48])
 n1:  48 (141.01886465813095, (5, 14, 48))
--
mpi:  49 (155.91131694181877, [5, 49, 38])
 n1:  49 (155.91131694180967, (5, 38, 49))
--
--
72
mpi:  0 (23.175228935553605, [0, 45, 20])
 n1:  0 (23.175228935549967, (0, 20, 45))
--
mpi:  1 (52.146837778011104, [1, 5, 30])
 n1:  1 (52.146837778011104, (1, 5, 30))
--
mpi:  2 (47.49478582550546, [2, 5, 30])
 n1:  2 (47.49478582550455, (2, 5, 30))
--
mpi:  3 (88.84255079423383, [3, 5, 30])
 n1:  3 (88.84255079423019, (3, 5, 30))
--
mpi:  4 (43.70860417114727, [4, 5, 30])